li.product-test-upload-box {
    background-color: #eee; border: 1px solid #ccc; -moz-border-radius: 3px; -webkit-border-radius: 3px;"
}

li.product-test-upload-box input {
    margin-right: 10px;
}

li.product-test-upload-box label {
    margin-right: 4px;
}
