{% extends 'profiles/base.jinja' %}

{% block profile_content %}
  <div class="row">
  <div class="col-md-18 col-md-offset-6">

  <h1>Mein Profil</h1>
  <style>
    input, select {
      padding: 6px 12px;
      width: 100%;
    }

    input[type="checkbox"], input[type="radio"] {
      width: 24px;
    }

    div.avatar a {
      display: block;
    }
  </style>
  <div class="user-profile">
  <form accept-charset="UTF-8"
        action="{{ url('user:settings') }}"
        class="form-horizontal"
        role="form"
        enctype="multipart/form-data"
        method="post"
      >
  {% csrf_token %}

  <h3>Benutzerdaten</h3>

  <div class="form-group {% if form.avatar.preferred_name %}has-error{% endif %}">
    <label class="control-label col-sm-6" for="{{ form.preferred_name.id }}">
      {{ form.preferred_name.label }}
    </label>

    <div class="col-sm-10">
      {{ form.preferred_name }}
      <div class="help-block">
        Pflichtfeld.
        {{ form.preferred_name.errors }}
      </div>
    </div>
  </div>

  <div class="form-group avatar {% if form.avatar.errors %}has-error{% endif %}">
    <label class="control-label col-sm-6" for="{{ form.avatar.id }}">
      {{ form.avatar.label }}
    </label>

    <div class="col-sm-10">
      {{ form.avatar }}
      <div class="help-block">
        Max. 10MB. Wird öffentlich angezeigt.
        {{ form.avatar.errors }}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-6"></label>

    <div class="col-sm-10">

      <a class="btn btn-primary" href="{{ url('user:set_password') }}">Passwort ändern</a>

    </div>
  </div>


  <div class="row">
    <h3>Anschrift</h3>

    <p class="col-sm-18">
      Dein Name und deine Anschrift werden nur für den Versand von Prämien und Produkten verwendet und nicht
      öffentlich angezeigt.
    </p>
  </div>

  <div class="form-group{% if form.full_name.errors %} has-error{% endif %}">
    <label class="control-label col-sm-6" for="{{ form.full_name.id }}">
      {{ form.full_name.label }}
    </label>

    <div class="col-sm-10">
      {{ form.full_name }}
      <div class="help-block">
        Pflichtfeld.
        {{ form.full_name.errors }}
      </div>
    </div>
  </div>

  <div class="form-group{% if form.address1.errors %} has-error{% endif %}">
    <label class="control-label col-sm-6" for="{{ form.address1.id }}">
      {{ form.address1.label }}
    </label>

    <div class="col-sm-10">
      {{ form.address1 }}
      <div class="help-block">
        Pflichtfeld.
        {{ form.address1.errors }}
      </div>
    </div>
  </div>

  <div class="form-group{% if form.address2.errors %} has-error{% endif %}">
    <label class="control-label col-sm-6" for="{{ form.address2.id }}">
      {{ form.address2.label }}
    </label>

    <div class="col-sm-10">
      {{ form.address2 }}
      <div class="help-block">
        {{ form.address2.errors }}
      </div>
    </div>
  </div>

  <div class="form-group{% if form.address3.errors %} has-error{% endif %}">
    <label class="control-label col-sm-6" for="{{ form.address3.id }}">
      {{ form.address3.label }}
    </label>

    <div class="col-sm-10">
      {{ form.address3 }}
      <div class="help-block">
        {{ form.address3.errors }}
      </div>
    </div>
  </div>


  <div class="form-group{% if form.postcode.errors %} has-error{% endif %}">
    <label class="control-label col-sm-6" for="{{ form.postcode.id }}">
      {{ form.postcode.label }}
    </label>

    <div class="col-sm-10">
      {{ form.postcode }}
      <div class="help-block">
        Pflichtfeld.
        {{ form.postcode.errors }}
      </div>
    </div>
  </div>

  <div class="form-group{% if form.city.errors %} has-error{% endif %}">
    <label class="control-label col-sm-6" for="{{ form.city.id }}">
      {{ form.city.label }}
    </label>

    <div class="col-sm-10">
      {{ form.city }}
      <div class="help-block">
        Pflichtfeld.
        {{ form.city.errors }}
      </div>
    </div>
  </div>

  <div class="form-group{% if form.country.errors %} has-error{% endif %}">
    <label class="control-label col-sm-6" for="{{ form.country.id }}">
      {{ form.country.label }}
    </label>

    <div class="col-sm-10">
      {{ form.country }}
      <div class="help-block">
        Pflichtfeld.
        {{ form.country.errors }}
      </div>
    </div>
  </div>


  <h3>Persönliche Daten</h3>

  <div class="form-group{% if form.birth_date.errors %} has-error{% endif %}">
    <label class="control-label col-sm-6" for="{{ form.birth_date.id }}">
      {{ form.birth_date.label }}
    </label>

    <div class="col-sm-10">
      <input id="{{ form.birth_date.id }}" name="{{ form.birth_date.name }}" type="date"
             value="{{ form.birth_date.value() }}" placeholder="dd.mm.yyyy">

      <div class="help-block">
        Pflichtfeld.
        {{ form.birth_date.errors }}
      </div>
    </div>
  </div>

  <div class="form-group {% if form.gender.errors %} has-error{% endif %}">
    <label class="control-label col-sm-6" for="{{ form.gender.id }}">
      {{ form.gender.label }}
    </label>

    <div class="col-sm-10">
      {{ form.gender }}
      <div class="help-block">
        Pflichtfeld.
        {{ form.gender.errors }}
      </div>
    </div>
  </div>

  <div class="form-group{% if form.family_status.errors %} has-error{% endif %}">
    <label class="control-label col-sm-6" for="{{ form.family_status.id }}">
      {{ form.family_status.label }}
    </label>

    <div class="col-sm-10">
      {{ form.family_status }}
      <div class="help-block">
        Pflichtfeld.
        {{ form.family_status.errors }}
      </div>
    </div>
  </div>

  <div class="form-group"><label class="control-label col-sm-6"></label>

    <div class="col-sm-10">
      <input class="btn btn-primary btn-block" name="commit" type="submit" value="Speichern">
    </div>
  </div>

  </form>
  </div>
  </div>
  </div>
{% endblock profile_content %}