<h3 style="padding: 0 20px">Antworten auf: {{ post.title }}</h3>
<div style="padding: 20px">
  <form action="{{ url('product_test:forum:edit-answer', slug=slug, pk=answer.pk) }}" method="POST">
    {% csrf_token %}
    {% autoescape off %}
    {{ form|bootstrap }}
    {% endautoescape %}
    <input type="hidden" id="answer_id" name="answer_id" value="{{ object.pk }}" />
    <input class="update-answer-button btn-default" type="submit" value="Antwort bearbeiten"/>
  </form>
</div>
