{% extends 'product_test/base.jinja' %}

{% block product_test_content %}

  <div class="forum-header">
    <h4>{{ product_test.forum.title }}</h4>
    <div>{{ product_test.forum.description }}</div>
  </div>

  <!-- Threads  -->
  <div id="list">
    <table class="table" border="0" cellpadding="4" width="100%">
      <thead>
      <tr>
        <th>Thema</th>
        <th>Beiträge</th>
        <th>Letzter Beitrag</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for topic in topics %}
        <tr>
          <td>
            <div class="title">
              <a href="{{ url('product_test:forum:topic-detail', slug=product_test.slug, topic_id=topic.pk) }}">{{ topic.title }}</a>
            </div>
          </td>
          <td align="center">
            {{ topic.num_posts() }}
          </td>
          <td>
            {% if topic.last_post() %}
              <a href="{{ url('product_test:forum:topic-detail', slug=product_test.slug, topic_id=topic.pk) }}?page={{ topic.last_page }}#last-post">
              <strong>{{ topic.last_post().title }}</strong>  {{ topic.last_post().created|localtime|time }} - {{ topic.last_post().created|localtime|date }}
              </a>
              <p>
              {{ topic.last_post().body|truncatewords(30)|safe() }}
              </p>
            {% endif %}
          </td>

          <td align="center">
          {% if topic.last_post() %}
            {% with creator=topic.last_post().creator %}
              {% include 'product_test/forum/snippets/avatar.jinja' %}
            {% endwith %}

            <div class="nickname">
              {{ topic.last_post().creator.preferred_name }}
            </div>
            {% endif %}
          </td>
          {#          <td>#}
          {#            <a class="button" href="{{ url('product_test:forum:topic-detail', topic.pk) }}">VIEW</a>#}
          {#          </td>#}
        </tr>

      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="forum-not-logged-in">
    {% if user.is_staff %}
      <a id="new_topic" class="btn btn-default"
         href="{{ url('product_test:forum:new-topic', slug=product_test.slug, forum_id=forum.pk) }}">
        Start a new topic
      </a>
    {% endif %}
  </div>


  <!-- Next/Prev page links  -->
  {% if topics.object_list and topics.paginator.num_pages > 1 %}
    <div class="pagination">
    <span class="step-links">
        {% if topics.has_previous %}
          <a href="?page={{ topics.previous_page_number }}">previous &lt;&lt; </a>
        {% endif %}

      <span class="current">
            &nbsp;Page {{ topics.number }} of {{ topics.paginator.num_pages }}
        </span>

      {% if topics.has_next %}
        <a href="?page={{ topics.next_page_number }}"> &gt;&gt; next</a>
      {% endif %}
    </span>
    </div>
  {% endif %}


{% endblock %}
