<h3 style="padding: 0 20px">Beitrag bearbeiten</h3>
<div style="padding: 20px" class="edit-post">
    <form class="edit-post" action="{{ url('product_test:forum:update', slug=slug, pk=object.pk) }}" method="POST">
      {% csrf_token %}
      {% autoescape off %}
      {{ form|bootstrap }}
      {% endautoescape %}
      <input type="hidden" id="post_id" name="post_id" value="{{ object.pk }}" />
      <input class="update-post-button btn btn-default" type="submit" value="Beitrag speichern">
    </form>
</div>
<script>
  $(document).ready(function() {
    add_wysiwyg_editor(".edit-post #id_body");
  });
</script>
