{% extends 'product_test/base.jinja' %}

{% block product_test_content %}

  <form action="{{ url('product_test:forum:reply', slug=product_test.slug, topic_id=topic.pk) }}" method="POST">
    {% csrf_token %}
    {% autoescape off %}
    {{ form|bootstrap }}
    {% endautoescape %}
    <input type="submit" value="Submit"/>
  </form>
{% endblock %}
