{% extends 'profiles/base.jinja' %}

{% block profile_content %}


<div class="col-md-16 col-md-offset-4">

  <h2>Freunde einladen</h2>

  <p>Lade Deine Freunde und Bekannten zu product-test ein!</p>

  <p>Für jede Person, die Deiner Einladung gefolgt ist und die sich erfolgreich registriert hat, erhältst Du 5
    Trendpoints gutgeschrieben! Die Trendpoints kannst Du dann gegen tolle Artikel eintauschen.</p>

  <p>Teile einfach folgenden Link mit Deinen Freunden:</p>

  <p>
    <input class="form-control" readonly="readonly" type="text" value="{{ form.invite_link }}">
  </p>

  <p>Oder lade Freunde direkt per Mail ein:</p>

  <form accept-charset="UTF-8" action="{{ url('user:invite_friends') }}" method="post">
    {% csrf_token %}

    <div class="form-group">
      <label class="control-label">Absender</label>
      <input class="form-control" readonly="readonly" type="text" value="{{ user.email }}">
    </div>

    {% autoescape off %}
    {{ form|bootstrap }}
    {% endautoescape %}
    <div class="form-group">
      <input class="btn btn-primary" name="commit" type="submit" value="Einladungen senden">
    </div>

  </form>

</div>


{% endblock %}