{% extends 'profiles/base.jinja' %}

{% block profile_content %}



  <div class="col-md-16 col-md-offset-4">
    <h2>Freunde einladen</h2>

    <p>Lade Deine Freunde und Bekannten zu Trendsetter ein!</p>

    <p>Für jede Person, die Deiner Einladung gefolgt ist und die sich erfolgreich registriert hat, erhältst Du 5
      Trendpoints gutgeschrieben! Die Trendpoints kannst Du dann gegen tolle Artikel eintauschen.</p>

    <p>Teile einfach folgenden Link mit Deinen Freunden:</p>

    <p>
      <code><input class="js-select-on-focus" readonly="readonly" style="width: 100%" type="text"
                   value="https://www.trendsetter.eu/r/tF_PZ0gvb1_38MnGfefOwQ"></code>
    </p>

    <p>Oder lade Freunde direkt per Mail ein:</p>

    <form accept-charset="UTF-8" action="/user/freunde-einladen" method="post">
      <div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token"
                                                                                  type="hidden"
                                                                                  value="6b/OwP199nue+IBGxmncMLh1bvF7dg/QiktmAwa9nc0=">
      </div>
      <div class="form-group">
        <label class="control-label">Absender</label>

        <div class="form-control-static">Marian Gaebler &lt;marian.gaebler@intosite.de&gt;</div>
      </div>
      <div class="form-group">
        <label class="control-label">Empfänger</label>
        <textarea class="form-control" id="recipient_emails" name="recipient_emails" rows="3"></textarea>
        <span class="help-block">Eine E-Mail-Adresse pro Zeile.</span>
      </div>
      <div class="form-group">
        <label class="control-label">Betreff</label>

        <div class="form-control-static">Kostenlos Produkttester werden</div>

      </div>
      <div class="form-group">
        <label class="control-label">Text der Mail</label>
        <textarea class="form-control" id="mail_content" name="mail_content" rows="7">Hey,

          Du hast Interesse an kostenlosen Produkttests und spannenden Gewinnspielen?
          Dann registriere Dich einfach bei Trendsetter, der neuen Produkttest-Plattform:

          &lt;https://www.trendsetter.eu/r/tF_PZ0gvb1_38MnGfefOwQ&gt;

          Ich bin auch schon dabei!

          Viele Grüße
          Marian Gaebler</textarea>
        <span class="help-block">Du kannst den Text verändern, solltest aber den Link nicht entfernen.</span>
      </div>
      <div class="form-group">
        <input class="btn btn-primary" name="commit" type="submit" value="Einladungen senden">
      </div>
    </form>

  </div>



{% endblock %}