{% extends 'profiles/base.jinja' %}

{% block profile_content %}

  <h1>Meine Produkttests</h1>
  <h2>Aktuell laufende Produkttests</h2>

  {% for participation in user.participation_set.all() %}
    <img src="{{ thumbnail(participation.product_test.logo, size=(232, 52)) }}" alt="{{ participation.product_test.name }}"/>
  {% endfor %}

{% endblock profile_content %}
