{% extends 'profiles/base.jinja' %}

{% block profile_content %}
  <div class="row">
    <div class="col-md-24">
      <h1>Meine Umfragen</h1>
      <div class="row">
        <div class="col-md-24">
          {% for object in object_list %}
              <div class="survey-tile" style="display: inline-block">
                <div class="survey-image">
                  <a href="{{ object.form.get_absolute_url() }}">
                    {% if object.form.image %}>
                      <img src="{{ thumbnail(object.form.image, size=(400, 400)) }}" />
                    {% endif %}
                  </a>
                </div>
                <div class="survey-button">
                  <a class="btn btn-red btn-red-large{% if object.is_done %} done{% endif %}" href="{{ object.form.get_absolute_url() }}">
                      {{ object.form.title }}
                  </a>
                </div>
              </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>

{% endblock profile_content %}




