{% extends 'profiles/base.jinja' %}

{% block profile_content %}

  <div class="inner container">

    <!-- %h2 Meine Trendpoints -->
    <div class="row">
      <div class="col-md-14 col-md-offset-5">
        <div class="trendpoints">
          <span>{{ user.bank_account.all().first().balance or 0 }}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-14 col-md-offset-5">

        <div class="goodies-list">
          {% for product in object_list %}
          <div class="goodie">
            <div class="goodie-img">
              <a class="js-open-in-overlay" href="{{ static('') }}">
                <img alt="Trendpunkte praemie {{ product.name }}" src="{{ thumbnail(product.image, size=(64, 64)) }}">
              </a>
            </div>
            <div class="goodie-name">
              {{ product.name }}
            </div>
            <div class="goodie-cost">
              <span>{{ product.value }}</span>
            </div>
            <div class="goodie-action">
              <a class="btn btn-primary" href="">Jetzt anfordern</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-14 col-md-offset-5">

        <div class="how-to-earn">
          <h4>Wie verdiene ich Trendpoints?</h4>
        </div>
        <div class="reward-list">

          <div class="reward">
            <div class="reward-title">Anmelden</div>
            <div class="reward-points">
              <span>5</span>
            </div>
          </div>

          <div class="reward">
            <div class="reward-title">
              <a href="{{ url('user:invite_friends') }}">Freunde einladen</a>
            </div>
            <div class="reward-points">
              <span>5</span>
            </div>
          </div>

          <div class="reward">
            <div class="reward-title">
              Teilnahme an einem Produkttest
              <br>
              <small>inkl. Ausfüllen des Bewerbungs- und Abschlussfragebogens</small>
            </div>
            <div class="reward-points">
              <span>20</span>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

{% endblock profile_content %}