{% extends 'profiles/base.jinja' %}

{% block profile_content %}

  <div class="inner container">

    <!-- %h2 Meine Trendpoints -->
    <div class="row">
      <div class="col-md-14 col-md-offset-5">
        <div class="trendpoints">
          <span>{{ user.bank_account.all().first().balance or 0 }}</span>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-14 col-md-offset-5">

        <div class="goodies-list">
          {% for product in object_list %}
          <div class="goodie">
            <div class="goodie-img">
              <a class="js-open-in-overlay" href="{{ product.image.url }}">
                <img alt="Trendpunkte praemie {{ product.name }}"
                     srcset="
                        {{ thumbnail(product.image, size=(64, 64)) }} 1x,
                        {{ thumbnail(product.image, size=(128, 128)) }} 2x
                     ">
              </a>
            </div>
            <div class="goodie-name" style="vertical-align: top">
              {{ product.name }}
              {{ product.description|linebreaks }}
            </div>
            <div class="goodie-cost" style="padding-top:8px">
              <span>{{ product.value }}</span>
            </div>
            <div class="goodie-action">
              <a class="btn btn-primary" href="{{ url('user:trendshop_buy_item', pk=product.pk) }}">Jetzt anfordern</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>


  </div>

{% endblock profile_content %}
