{% extends 'base.jinja' %}
{#{% load staticfiles %}#}

{% block body_class %}flatpage{% endblock %}
{% block title %}{{ flatpage.title }} | {{ block.super }}{% endblock title %}
{% block navbar_image %}{% endblock %}


{% block seo_head %}
  {% for seodata in flatpage.seo_data.all %}
    {% include 'senseo/meta_data.html' %}
  {% endfor %}
{% endblock %}


{% block content %}
<div class="inner container">
  <div class="row">
    <div class="col-md-24">

      {% autoescape off %}
      {{ flatpage.content }}
      {% endautoescape %}

    </div>

    {% if flatpage.enable_comments %}
      <a name="comments"></a>
      {% if user.is_authenticated() %}
        <div>
          <form action="{{ url('comments:new', page_id=flatpage.id) }}" method="POST">
            {% csrf_token %}
            {% autoescape off %}
            {{ form|bootstrap }}
            {% endautoescape %}
            <input class="btn btn-default" type="submit" value="Kommentar abschicken"/>
          </form>
        </div>
      {% endif %}

      {# TODO: factor this out and use it for together with the forum's pagination? #}
      {% with objects=comments %}
        {% include 'simple_comments/snippets/pagination.jinja' %}
      {% endwith %}

      <div>
        {% for post in comments %}
          {% include 'simple_comments/snippets/post.jinja' %}
        {% endfor %}
      </div>
    {% endif %}

  </div>
</div>
{% endblock content %}
