header .current-user, header .current-user .inner, header #logo, body.reduced-header header .inner, footer {
  margin: 0 auto;
  width: 960px; }

* {
  box-sizing: border-box; }

html {
  overflow-y: scroll; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  line-height: 22px;
  background: #fff url("/static/images/shared/background.jpg") no-repeat 50% 0;
  color: #3c3c3c; }

.env-warning {
  z-index: 100;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  background: grey;
  color: black;
  border-bottom: 1px solid #515151; }
  .env-warning.development {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjEuMCIgeDI9IjAuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiMwMGM0MDAiLz48c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwYzQwMCIvPjxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjMDBjNDAwIi8+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -moz-linear-gradient(135deg, #00c400 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, #00c400 50%, #00c400 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(135deg, #00c400 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, #00c400 50%, #00c400 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-image: linear-gradient(-45deg, #00c400 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, #00c400 50%, #00c400 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-color: #0d0;
    background-size: 40px 40px;
    text-shadow: -1px -1px 0px #0d0, -1px 1px 0 #0d0, 1px 1px 0 #0d0, 1px -1px 0 #0d0;
    border-top: 1px solid #009100;
    position: fixed;
    bottom: 0;
    width: 100%; }
  .env-warning.staging {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjEuMCIgeDI9IjAuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -moz-linear-gradient(135deg, #000000 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, #000000 50%, #000000 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(135deg, #000000 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, #000000 50%, #000000 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-image: linear-gradient(-45deg, #000000 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, #000000 50%, #000000 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-color: yellow;
    background-size: 40px 40px;
    text-shadow: -1px -1px 0px yellow, -1px 1px 0 yellow, 1px 1px 0 yellow, 1px -1px 0 yellow;
    border-bottom: 1px solid #b2b300; }

#flashes {
  position: absolute;
  z-index: 101;
  width: 100%;
  top: 32px;
  left: 0; }
  #flashes .flash {
    width: 700px;
    padding: 8px;
    margin: 16px auto;
    text-align: center;
    font-size: 100%;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px; }
  #flashes .flash-notice {
    background: #e6efc2;
    border: 1px solid #c6d880;
    color: #264409; }
  #flashes .flash-alert {
    background: #fff6bf;
    border: 1px solid #ffd324;
    color: #514721; }
  #flashes .flash-error {
    background: #fbe3e4;
    border: 1px solid #fbc2c4;
    color: #8a1f11; }

a {
  text-decoration: none;
  color: #fd7263; }
  a:visited {
    color: #fd7263; }
  a:focus {
    color: #fd7263; }
  a:hover {
    color: #fd7263; }
  a:active {
    color: #fd7263; }

h2 {
  font-size: 30px;
  margin-top: 18px;
  margin-bottom: 18px; }

.user-avatar {
  width: 256px;
  height: 256px; }

.user-avatar-medium {
  width: 32px;
  height: 32px; }

.user-avatar-small {
  width: 16px;
  height: 16px; }

header {
  width: 100%;
  height: 200px;
  border-bottom: 5px solid #fd7263;
  margin-bottom: 25px;
  /* XXX this needs refactoring, holy shmoly */ }
  header .current-user {
    position: relative; }
    header .current-user .inner {
      position: absolute;
      padding-top: 12px;
      padding-right: 4px;
      text-align: right;
      font-family: "Helvetica", "Arial", sans-serif;
      font-size: 12px;
      line-height: 18px;
      z-index: 10; }
      header .current-user .inner a {
        font-weight: normal; }
      header .current-user .inner .user-avatar {
        float: right;
        margin: 0px 0px 0px 8px; }
  header #logo {
    background: url("/static/images/shared/logo.png") no-repeat 50% 0px;
    padding-top: 36px; }
    header #logo h1 {
      text-indent: -119988px;
      overflow: hidden;
      text-align: left;
      text-transform: capitalize;
      margin: 0; }
      header #logo h1 a {
        display: block;
        margin: 0 auto;
        line-height: 120px;
        height: 120px;
        width: 500px; }
  header nav.main-nav {
    text-align: center;
    margin: 0 auto; }
    header nav.main-nav li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      font-size: 16px;
      margin: 0 32px;
      height: 52px;
      position: relative; }
    header nav.main-nav .active ::before {
      position: absolute;
      display: block;
      content: "";
      left: 50%;
      top: 100%;
      margin-left: -8px;
      margin-top: -8px;
      width: 16px;
      height: 8px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #fd7263; }
    header nav.main-nav .active a {
      font-weight: bold; }
  body.reduced-header.user-dashboard header {
    height: 174px;
    border-bottom: 40px solid #fd7263; }
  header nav.dash-nav .inner {
    position: relative; }
  header nav.dash-nav {
    position: absolute;
    top: 142px;
    display: block;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    header nav.dash-nav a {
      color: #fff; }
      header nav.dash-nav a:visited {
        color: #fff; }
      header nav.dash-nav a:focus {
        color: #fff; }
      header nav.dash-nav a:hover {
        color: #fff; }
      header nav.dash-nav a:active {
        color: #fff; }
    header nav.dash-nav li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      font-size: 14px;
      margin: 0 16px;
      height: 40px;
      position: relative; }
      header nav.dash-nav li.active {
        font-weight: bold; }
        header nav.dash-nav li.active ::before {
          position: absolute;
          display: block;
          content: "";
          left: 50%;
          top: 100%;
          margin-left: -8px;
          margin-top: -8px;
          width: 16px;
          height: 8px;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid #fd7263; }

body.reduced-header {
  background: #fff; }
  body.reduced-header header {
    background: #fff url("/static/images/shared/background.jpg") no-repeat 50% 0;
    height: 135px;
    margin-bottom: 0px; }
    body.reduced-header header #logo {
      height: 130px;
      padding-top: 0;
      background: url("/static/images/dashboard_logo_header.png") no-repeat -64px 8px;
      position: absolute; }
      body.reduced-header header #logo h1 {
        float: left; }
        body.reduced-header header #logo h1 a {
          position: absolute;
          width: 355px;
          z-index: 13; }
    body.reduced-header header.brand-fuersie #logo {
      background: url("/static/images/produkttest_logo_fuersie.png") no-repeat -60px 16px; }
      body.reduced-header header.brand-fuersie #logo h1 a {
        width: 278px; }
    body.reduced-header header.brand-prinz #logo {
      background: url("/static/images/produkttest_logo_prinz.png") no-repeat -60px 16px; }
      body.reduced-header header.brand-prinz #logo h1 a {
        width: 278px; }
    body.reduced-header header.brand-petra #logo {
      background: url("/static/images/produkttest_logo_petra.png") no-repeat -28px 16px; }
      body.reduced-header header.brand-petra #logo h1 a {
        width: 283px; }
    body.reduced-header header .inner {
      position: relative; }
    body.reduced-header header .current-user .inner {
      position: absolute; }
    body.reduced-header header nav.main-nav {
      position: absolute;
      right: 0;
      top: 100px;
      z-index: 10; }
      body.reduced-header header nav.main-nav li {
        font-size: 14px;
        margin: 0 24px;
        height: 42px; }
      body.reduced-header header nav.main-nav li:last-child {
        margin-right: 15px; }

.subdued {
  color: #858585; }

footer {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 11px;
  color: #4c4c4c;
  margin-top: 32px;
  margin-bottom: 32px; }
  footer .coops {
    text-align: center; }
    footer .coops span {
      line-height: 42px;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
    footer .coops .fuersie, footer .coops .prinz, footer .coops .petra {
      margin-left: 16px;
      line-height: 20px; }
      footer .coops .fuersie a, footer .coops .prinz a, footer .coops .petra a {
        display: block;
        height: 100%; }
    footer .coops .fuersie {
      background-image: url('/images/icons-s9a06af97a8.png');
      background-position: 0 -45px;
      background-repeat: no-repeat;
      text-indent: -119988px;
      overflow: hidden;
      text-align: left;
      text-transform: capitalize;
      height: 21px;
      width: 69px; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (-moz-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
        footer .coops .fuersie {
          background-image: url('/images/icons2x-s1fa22d2006.png');
          background-position: 0 -44px;
          -moz-background-size: 184px auto;
          -o-background-size: 184px auto;
          -webkit-background-size: 184px auto;
          background-size: 184px auto; } }
      footer .coops .fuersie:hover {
        background-image: url('/images/icons-s9a06af97a8.png');
        background-position: 0 -66px;
        background-repeat: no-repeat;
        text-indent: -119988px;
        overflow: hidden;
        text-align: left;
        text-transform: capitalize;
        height: 21px;
        width: 69px; }
        @media (-webkit-min-device-pixel-ratio: 1.5), (-moz-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
          footer .coops .fuersie:hover {
            background-image: url('/images/icons2x-s1fa22d2006.png');
            background-position: 0 -65px;
            -moz-background-size: 184px auto;
            -o-background-size: 184px auto;
            -webkit-background-size: 184px auto;
            background-size: 184px auto; } }
    footer .coops .prinz {
      background-image: url('/images/icons-s9a06af97a8.png');
      background-position: 0 -188px;
      background-repeat: no-repeat;
      text-indent: -119988px;
      overflow: hidden;
      text-align: left;
      text-transform: capitalize;
      height: 21px;
      width: 69px; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (-moz-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
        footer .coops .prinz {
          background-image: url('/images/icons2x-s1fa22d2006.png');
          background-position: 0 -187px;
          -moz-background-size: 184px auto;
          -o-background-size: 184px auto;
          -webkit-background-size: 184px auto;
          background-size: 184px auto; } }
      footer .coops .prinz:hover {
        background-image: url('/images/icons-s9a06af97a8.png');
        background-position: 0 -209px;
        background-repeat: no-repeat;
        text-indent: -119988px;
        overflow: hidden;
        text-align: left;
        text-transform: capitalize;
        height: 21px;
        width: 69px; }
        @media (-webkit-min-device-pixel-ratio: 1.5), (-moz-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
          footer .coops .prinz:hover {
            background-image: url('/images/icons2x-s1fa22d2006.png');
            background-position: 0 -208px;
            -moz-background-size: 184px auto;
            -o-background-size: 184px auto;
            -webkit-background-size: 184px auto;
            background-size: 184px auto; } }
    footer .coops .petra {
      background-image: url('/images/icons-s9a06af97a8.png');
      background-position: 0 -112px;
      background-repeat: no-repeat;
      text-indent: -119988px;
      overflow: hidden;
      text-align: left;
      text-transform: capitalize;
      height: 21px;
      width: 69px; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (-moz-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
        footer .coops .petra {
          background-image: url('/images/icons2x-s1fa22d2006.png');
          background-position: 0 -111px;
          -moz-background-size: 184px auto;
          -o-background-size: 184px auto;
          -webkit-background-size: 184px auto;
          background-size: 184px auto; } }
      footer .coops .petra:hover {
        background-image: url('/images/icons-s9a06af97a8.png');
        background-position: 0 -133px;
        background-repeat: no-repeat;
        text-indent: -119988px;
        overflow: hidden;
        text-align: left;
        text-transform: capitalize;
        height: 21px;
        width: 69px; }
        @media (-webkit-min-device-pixel-ratio: 1.5), (-moz-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
          footer .coops .petra:hover {
            background-image: url('/images/icons2x-s1fa22d2006.png');
            background-position: 0 -132px;
            -moz-background-size: 184px auto;
            -o-background-size: 184px auto;
            -webkit-background-size: 184px auto;
            background-size: 184px auto; } }
  footer .reference {
    text-align: center; }
    footer .reference span {
      line-height: 42px;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
    footer .reference .philips, footer .reference .proplan, footer .reference .kitchenaid {
      margin-left: 16px;
      line-height: 20px; }
      footer .reference .philips a, footer .reference .proplan a, footer .reference .kitchenaid a {
        display: block;
        height: 100%; }
    footer .reference .philips {
      background-image: url('/images/icons-s9a06af97a8.png');
      background-position: 0 -154px;
      background-repeat: no-repeat;
      text-indent: -119988px;
      overflow: hidden;
      text-align: left;
      text-transform: capitalize;
      height: 34px;
      width: 143px; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (-moz-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
        footer .reference .philips {
          background-image: url('/images/icons2x-s1fa22d2006.png');
          background-position: 0 -153px;
          -moz-background-size: 184px auto;
          -o-background-size: 184px auto;
          -webkit-background-size: 184px auto;
          background-size: 184px auto; } }
    footer .reference .proplan {
      background-image: url('/images/icons-s9a06af97a8.png');
      background-position: 0 -230px;
      background-repeat: no-repeat;
      text-indent: -119988px;
      overflow: hidden;
      text-align: left;
      text-transform: capitalize;
      height: 46px;
      width: 184px; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (-moz-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
        footer .reference .proplan {
          background-image: url('/images/icons2x-s1fa22d2006.png');
          background-position: 0 -229px;
          -moz-background-size: 184px auto;
          -o-background-size: 184px auto;
          -webkit-background-size: 184px auto;
          background-size: 184px auto; } }
    footer .reference .kitchenaid {
      background-image: url('/images/icons-s9a06af97a8.png');
      background-position: 0 -87px;
      background-repeat: no-repeat;
      text-indent: -119988px;
      overflow: hidden;
      text-align: left;
      text-transform: capitalize;
      height: 25px;
      width: 180px; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (-moz-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
        footer .reference .kitchenaid {
          background-image: url('/images/icons2x-s1fa22d2006.png');
          background-position: 0 -86px;
          -moz-background-size: 184px auto;
          -o-background-size: 184px auto;
          -webkit-background-size: 184px auto;
          background-size: 184px auto; } }
  footer .legalese {
    margin-top: 16px;
    text-align: center; }
  footer .social {
    margin-top: 16px;
    text-align: center; }
    footer .social span {
      line-height: 15px;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
    footer .social strong {
      margin-right: 30px; }
    footer .social .facebook a, footer .social .twitter a, footer .social .gplus a {
      margin-left: 12px;
      padding-left: 22px;
      line-height: 15px;
      display: block; }

ul.shares {
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 16px 0;
  display: inline-block; }
  ul.shares li {
    display: inline-block;
    vertical-align: top;
    margin-right: 12px; }

.social-media {
  margin-left: 40px; }

input, .form-control {
  border: none;
  background-color: #eaeaea;
  color: #5f5f5f;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

a.btn.btn-primary {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff; }

.btn-block {
  height: 30px; }
  .btn-block.btn-block-big {
    height: 35px; }

.bigger {
  font-size: 18px; }

.big {
  font-size: 14px; }

.box {
  padding: 20px 16px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .box.highlight {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fd7263;
    color: #fff; }
    .box.highlight input, .box.highlight .form-control {
      background-color: #fff; }
    .box.highlight a {
      color: #fff;
      text-decoration: underline; }

.box.register-box, .box.login-box {
  padding: 12px 16px; }

.box.register-box {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0; }

.p--home .register-raffle-teaser {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #000; }
  .p--home .register-raffle-teaser a {
    display: block;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    background-image: url('/images/gewinnspiel/gewinnspiel_philips_startseite_teaser.jpg?1409564803');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 230px;
    height: 69px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px; }

.p--register .register-raffle-teaser {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #000;
  margin-bottom: 24px; }
  .p--register .register-raffle-teaser a {
    display: block;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    background-image: url('/images/gewinnspiel/gewinnspiel_philips_registrierung_teaser.jpg?1409564803');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 442px;
    height: 135px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }

.btn-inverted {
  background: #000;
  color: #fff; }
  .btn-inverted:hover, .btn-inverted:focus {
    background: #262626;
    color: #fff; }

.inverse .form-control {
  background-color: #fff; }

.hero {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  height: 475px; }

#hero-cta {
  position: absolute;
  left: 0;
  top: 0;
  width: 720px;
  height: 475px; }

input[placeholder]:-moz-placeholder {
  line-height: normal; }
input[placeholder]::-moz-placeholder {
  line-height: normal; }
input[placeholder]:-ms-input-placeholder {
  line-height: normal; }
input[placeholder]::-webkit-input-placeholder {
  line-height: normal; }

.s--static.p--how section[role=content] .step-1, .s--static.p--how section[role=content] .step-2, .s--static.p--how section[role=content] .step-3 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 310px;
  height: 434px;
  padding: 16px 4px 16px 64px;
  background: #fd7263;
  color: #fff;
  font-size: 14px;
  line-height: 18px; }
  .s--static.p--how section[role=content] .step-1::before, .s--static.p--how section[role=content] .step-2::before, .s--static.p--how section[role=content] .step-3::before {
    position: absolute;
    margin-left: -48px;
    display: block;
    border-radius: 100%;
    background-color: black;
    color: white;
    width: 36px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
    font-weight: bold; }
.s--static.p--how section[role=content] .step-1 {
  background: #fd7263 url("/static/images/wiefunktionierts_bild1.jpg") no-repeat 0% 100%; }
  .s--static.p--how section[role=content] .step-1::before {
    content: "1"; }
.s--static.p--how section[role=content] .step-2 {
  background: #fd7263 url("/static/images/wiefunktionierts_bild2.jpg") no-repeat 0% 100%; }
  .s--static.p--how section[role=content] .step-2::before {
    content: "2"; }
.s--static.p--how section[role=content] .step-3 {
  background: #fd7263 url("/static/images/wiefunktionierts_bild3.jpg") no-repeat 0% 100%; }
  .s--static.p--how section[role=content] .step-3::before {
    content: "3"; }
.s--static.p--how section[role=content] .cta {
  margin-top: 22px; }
  .s--static.p--how section[role=content] .cta p {
    text-align: center; }
  .s--static.p--how section[role=content] .cta a {
    margin-left: 16px;
    font-size: 18px; }

.s--tests #ptw {
  margin-top: 16px; }
.s--tests .page-nav {
  overflow: hidden;
  *zoom: 1; }
  .s--tests .page-nav h2, .s--tests .page-nav li {
    line-height: 96px; }
  .s--tests .page-nav h2, .s--tests .page-nav ul {
    margin: 0; }
  .s--tests .page-nav h2 {
    float: left; }
  .s--tests .page-nav ul {
    float: right; }
  .s--tests .page-nav li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0 16px; }
    .s--tests .page-nav li a, .s--tests .page-nav li span {
      font-size: 22px; }
    .s--tests .page-nav li span {
      color: #858585; }

.test-tile {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  color: #fff;
  background: #fd7263 none no-repeat 50% 100%;
  width: 310px;
  height: 358px; }
  .test-tile input, .test-tile .form-control {
    background-color: #fff; }
  .test-tile a {
    color: #fff; }
  .test-tile .test-title {
    margin: 0px;
    font-size: 16px;
    line-height: 20px;
    height: 93px; }
    .test-tile .test-title a {
      padding: 48px 16px 16px 16px;
      display: block;
      height: 100%;
      overflow: hidden; }
  .test-tile.brand-prinz .test-title {
    background: #fd7263 url("/static/images/produkttests_logo_prinz.png") no-repeat 15px 15px; }
  .test-tile.brand-fuersie .test-title {
    background: #fd7263 url("/static/images/produkttests_logo_fuersie.png") no-repeat 15px 15px; }
  .test-tile.brand-petra .test-title {
    background: #fd7263 url("/static/images/produkttests_logo_petra.png") no-repeat 15px 15px; }
  .test-tile .test-link {
    padding: 8px 16px;
    height: 58px; }
    .test-tile .test-link a {
      font-size: 16px; }
  .test-tile .test-teaser {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    display: block;
    height: 210px; }

body.s--static.p--brands .brand-prinz a, body.s--static.p--brands .brand-fuersie a, body.s--static.p--brands .brand-petra a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  display: block;
  height: 110px;
  background: no-repeat 0 24px; }
body.s--static.p--brands .brand-prinz a {
  background-image: url("/static/images/marken_prinz.png"); }
body.s--static.p--brands .brand-fuersie a {
  background-image: url("/static/images/marken_fuersie.png"); }
body.s--static.p--brands .brand-petra a {
  background-image: url("/static/images/marken_petra.png"); }

body.s--users.p--trendpoints .trendpoints {
  display: block;
  color: #000;
  height: 140px;
  margin: 0 auto;
  margin-top: 16px;
  text-align: center;
  font-size: 68px;
  font-weight: bold;
  border-bottom: 5px solid black;
  line-height: 100px; }
  body.s--users.p--trendpoints .trendpoints span {
    background: url("/static/images/trendpunkte_points_large.png") no-repeat 0 60%;
    padding-left: 85px; }
body.s--users.p--trendpoints .goodies-list {
  display: table;
  width: 100%; }
  body.s--users.p--trendpoints .goodies-list .goodie {
    display: table-row;
    height: 72px; }
    body.s--users.p--trendpoints .goodies-list .goodie .goodie-img, body.s--users.p--trendpoints .goodies-list .goodie .goodie-name, body.s--users.p--trendpoints .goodies-list .goodie .goodie-cost, body.s--users.p--trendpoints .goodies-list .goodie .goodie-action {
      display: table-cell;
      vertical-align: middle;
      border-bottom: 1px solid black; }
    body.s--users.p--trendpoints .goodies-list .goodie .goodie-img {
      width: 70px;
      height: 70px;
      position: relative; }
      body.s--users.p--trendpoints .goodies-list .goodie .goodie-img a {
        display: block; }
      body.s--users.p--trendpoints .goodies-list .goodie .goodie-img img::after {
        position: absolute;
        display: block;
        z-index: 15;
        text-indent: -119988px;
        overflow: hidden;
        text-align: left;
        text-transform: capitalize;
        background-image: url('/images/trendpunkte_loupe.png?1409564803');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 70px;
        height: 70px;
        outline: 4px solid red; }
    body.s--users.p--trendpoints .goodies-list .goodie .goodie-name {
      padding: 0 16px; }
    body.s--users.p--trendpoints .goodies-list .goodie .goodie-cost {
      width: 75px;
      padding: 0 16px;
      text-align: right;
      font-weight: bold;
      font-size: 16px; }
      body.s--users.p--trendpoints .goodies-list .goodie .goodie-cost span {
        background: url("/static/images/trendpunkte_points_small.png") no-repeat 0 70%;
        padding-left: 20px; }
    body.s--users.p--trendpoints .goodies-list .goodie .goodie-action {
      width: 120px; }
      body.s--users.p--trendpoints .goodies-list .goodie .goodie-action a {
        width: 100%; }
body.s--users.p--trendpoints .how-to-earn {
  display: block;
  text-align: left;
  border-bottom: 5px solid black;
  margin-top: 32px; }
  body.s--users.p--trendpoints .how-to-earn h4 {
    font-weight: bold;
    font-size: 13px;
    line-height: 42px;
    margin: 0; }
body.s--users.p--trendpoints .reward-list {
  display: table;
  width: 100%; }
  body.s--users.p--trendpoints .reward-list .reward {
    display: table-row; }
    body.s--users.p--trendpoints .reward-list .reward .reward-title, body.s--users.p--trendpoints .reward-list .reward .reward-points {
      display: table-cell;
      vertical-align: middle;
      border-bottom: 1px solid black;
      padding: 16px 4px;
      font-size: 13px;
      line-height: 16px; }
      body.s--users.p--trendpoints .reward-list .reward .reward-title small, body.s--users.p--trendpoints .reward-list .reward .reward-points small {
        font-size: 10px; }
    body.s--users.p--trendpoints .reward-list .reward .reward-points {
      width: 75px;
      padding: 16px;
      text-align: right;
      font-weight: bold;
      font-size: 16px; }
      body.s--users.p--trendpoints .reward-list .reward .reward-points span {
        background: url("/static/images/trendpunkte_points_small.png") no-repeat 0 70%;
        padding-left: 20px; }

img.content-photo {
  border: 2px solid black; }

form small {
  line-height: 130%; }
  form small input[type="checkbox"] {
    margin: 2px 0 0; }
body.s--static.p--home form .form-group {
  margin-bottom: 8px; }

.btn-primary:hover {
  background-color: #ee4d3c; }

.user-account-data, .user-profile-data {
  margin-bottom: 32px; }

.form-group.required .control-label:after {
  content: "*";
  color: red; }

.form-horizontal .control-label {
  padding-left: 10px;
  text-align: left; }

.flat-bottom {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0; }

#overlay, #overlay-shade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000; }

#overlay {
  display: none; }

#overlay-shade {
  background-color: rgba(0, 0, 0, 0.6); }

#overlay-content {
  position: absolute;
  top: 220px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  z-index: 10001; }
  #overlay-content h1, #overlay-content h2, #overlay-content h3, #overlay-content h4, #overlay-content h5, #overlay-content h6 {
    margin-top: 0; }
  #overlay-content .overlay-close {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    background-image: url('/images/overlay_close.png?1409564803');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px; }
  #overlay-content .overlay-wrapper {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: white; }
  #overlay-content .overlay-padding {
    padding: 32px; }
  #overlay-content .overlay-hide {
    display: none; }

.register-raffle-content h3 {
  margin-bottom: 24px; }
.register-raffle-content p {
  padding-left: 12px; }
#overlay-content .register-raffle-content.overlay-padding {
  padding-bottom: 16px; }

.register-raffle-footer {
  background: #fd7263;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 18px; }
  .register-raffle-footer input, .register-raffle-footer .form-control {
    background-color: #fff; }
  .overlay-wrapper .register-raffle-footer {
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px; }

.js-overlay, .js-overlay-close {
  cursor: pointer; }

tr.odd {
  background: #eee; }

.team-trendsetter .avatar {
  margin-right: 4px; }
  .team-trendsetter .avatar::before {
    content: "T";
    position: absolute;
    margin-top: 24px;
    margin-left: 24px;
    width: 12px;
    height: 12px;
    font-size: 9px;
    font-weight: normal;
    color: #f0f0f0;
    background: #000;
    line-height: 12px;
    text-align: center;
    padding: 0 1px; }
.team-trendsetter .xnickname {
  margin-right: 24px; }
  .team-trendsetter .xnickname::after {
    content: "T";
    position: absolute;
    font-size: 8px;
    color: #fff;
    background: #000;
    line-height: 10px;
    padding: 1px;
    margin: 0 2px;
    width: 24px;
    font-weight: bold; }

.forum-entry-user .nickname {
  font-weight: bold;
  line-height: 32px; }
.forum-entry-user.team-trendsetter .nickname {
  line-height: 1.42857; }
.forum-entry-user .title {
  font-size: 11px;
  color: #808080;
  line-height: 15px; }
.forum-entry-user .actions {
  margin-top: 8px;
  font-size: 12px; }

.forum-entry-timestamp {
  text-align: right; }

.forum-entry-title {
  font-weight: bold; }

.forum-entry-body {
  margin-top: 18px; }

.faq-entry {
  margin-bottom: 32px; }
  .faq-entry .faq-entry-meta {
    font-size: 10px; }

a.link-camo, #ptw a.link-camo, #ptw a:link.link-camo, #ptw a:visited.link-camo, #ptw a:active.link-camo {
  color: #3c3c3c;
  text-decoration: none;
  border-bottom: #bcbcbc dotted 1px; }

.btn-delete-inline, #ptw .btn-delete-inline {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  color: white;
  color: white;
  background-color: red;
  width: 20px;
  height: 20px;
  font-size: 11px;
  line-height: 20px;
  text-align: center; }
  .btn-delete-inline:visited, #ptw .btn-delete-inline:visited {
    color: white; }
  .btn-delete-inline:focus, #ptw .btn-delete-inline:focus {
    color: white; }
  .btn-delete-inline:hover, #ptw .btn-delete-inline:hover {
    color: white; }
  .btn-delete-inline:active, #ptw .btn-delete-inline:active {
    color: white; }

nav.pagination .page.current, nav.pagination .page a, nav.pagination .next.current, nav.pagination .next a, nav.pagination .last.current, nav.pagination .last a {
  padding: 4px; }
nav.pagination .page a, nav.pagination .next a, nav.pagination .last a {
  border: 1px solid #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

ul.gallery-entries {
  list-style-type: none;
  padding: 0; }
  ul.gallery-entries li {
    margin-bottom: 12px; }
    ul.gallery-entries li a img {
      margin-bottom: 6px;
      width: 150px;
      height: 150px; }

/*# sourceMappingURL=application.css.map */
