{% extends 'base.jinja' %}

{% block content %}

  <div class="inner container">
  <div class="row">
  <div class="col-md-20 col-md-offset-2">
  <h2>Nutzungsbedingungen</h2>

  <p>(Stand: 01.07.2014)</p>

  <h3>I. Inhalt des Angebots</h3>

  <ol>
    <li><p>Trendsetter ist ein Angebot der intosite GmbH, Poßmoorweg 2, 22301 Hamburg (im Folgenden auch
      „Anbieter“ genannt).</p></li>
    <li><p>Inhalt des Angebots ist die Erbringung einer Online-Dienstleistung zur Erhebung von
      Marktdaten und zur Teilnahme an Produkttests und Gewinnspielen. Die Auswahl der Produkttester
      obliegt dem Anbieter, der insoweit einzelfallabhängig ein zu der jeweiligen Aktion passendes
      Procedere vorsieht.</p></li>
    <li><p>Das Angebot ist kostenlos.</p></li>
    <li><p>Der Nutzer kann Trendpoints erwerben. Trendpoints sind virtuelle Bonuspunkte, die der Nutzer
      für bestimmte Aktivitäten sammeln kann. Für die gesammelten Trendpoints kann der Nutzer die vom
      Anbieter angebotenen Prämien einfordern. Trendpoints können nicht gegen geldwerte Leistungen
      eingetauscht werden. Der Anbieter behält sich ohne Ankündigung zu jedem Zeitpunkt vor, die
      Auswahl der angebotenen Prämien zu verändern. Jede Prämie gibt es nur, solange der Vorrat
      reicht.</p></li>
  </ol>

  <h3>II. Teilnahmeberechtigung</h3>

  <ol>
    <li><p>Teilnahmeberechtig sind nur natürliche Personen.</p></li>
    <li><p>Um sich als Trendsetter registrieren zu können und mitzumachen, muss der Nutzer mindestens 18
      Jahre alt sein.</p></li>
    <li><p>Unternehmern im Sinne von § 14 BGB („eine natürliche oder juristische Person oder eine
      rechtsfähige Personengesellschaft, die bei Abschluss eines Rechtsgeschäfts in Ausübung ihrer
      gewerblichen oder selbständigen beruflichen Tätigkeit handelt“) ist die Nutzung nicht
      gestattet.</p></li>
  </ol>

  <h3>III. Registrierung</h3>

  <ol>
    <li><p>Voraussetzung für den Zugang und die Nutzung des Trendsetter-Portals ist die kostenfreie
      Registrierung.</p></li>
    <li><p>Der Nutzer bzw. dessen gesetzlicher Vertreter, nachfolgend „Nutzer“ genannt, erklärt sich
      damit einverstanden, dass die Korrespondenz von bzw. mit dem Anbieter über die bei der Anmeldung
      angegebene E-Mail-Adresse des Nutzers erfolgen kann.</p></li>
    <li><p>Ein Anspruch auf Registrierung bzw. auf die Nutzung des Trendsetter-Portals besteht nicht.
      Der Anbieter behält sich vor, die Registrierung abzulehnen.</p></li>
    <li><p>Für die Registrierung gilt was folgt: </p>

      <ul>
        <li>Mehrfach-Anmeldungen (z. B. unter Verwendung verschiedener E-Mail-Adressen) sowie
          Anmeldungen unter Vortäuschen einer fremden Identität sind untersagt. Der Account des
          Nutzers ist nicht übertragbar.
        </li>
        <li>Der Anbieter behält sich vor, den Account des Nutzers im Falle von nicht vollständigen
          Anmeldungen nach einer angemessenen Zeit zu löschen. Jeder Nutzername wird nur einmal
          vergeben. Es besteht kein Anspruch auf die Freischaltung des Nutzer-Accounts unter einem
          bestimmten Nutzernamen.
        </li>
        <li>Profilangaben dürfen keine E-Mail-, Internet- oder Instant-Messenger-Adressen sowie
          keine Verletzungen von Rechten Dritter, insbesondere von Namensrechten, beinhalten. Der
          Nutzername darf insbesondere nicht rassistisch oder in sonstiger Weise diskriminierend
          sein. Wird der Anbieter auf die mögliche Verletzung von Rechten bzw. Gesetzen,
          insbesondere Namensrechten, durch die Wahl eines Nutzernamens hingewiesen, so wird der
          Anbieter den Nutzernamen ohne Prüfung sofort sperren. Eine Klärung der Namensrechte ist
          ausschließlich zwischen dem Nutzer und dem Dritten vorzunehmen. Wünscht der Nutzer
          später die erneute Freischaltung des Nutzernamens, so ist er verpflichtet, dem Anbieter
          die Klärung der Namensstreitigkeit und sein Recht, den Nutzernamen zu verwenden, in
          geeigneter Form nachzuweisen. Sofern die vorstehenden Nachweise nicht erbracht werden,
          ist der Anbieter berechtigt, den Nutzer-Account zu löschen.
        </li>
        <li>Der Nutzer muss zur Registrierung die für die Nutzung notwendigen Daten vollständig
          angeben. Der Nutzer verpflichtet sich, ausschließlich wahrheitsgemäße Angaben zu seiner
          Person zu machen.
        </li>
      </ul>
    </li>
    <li><p>Die Registrierung ist erst durch die Zusendung der Zugangsdaten und eines Aktivierungslinks
      durch den Anbieter an die von dem Nutzer in der Registrierung angegebene E-Mail-Adresse und die
      nachfolgende Aktivierung durch den Nutzer wirksam.</p></li>
  </ol>

  <h3>IV. Pflichten des Nutzers</h3>

  <ol>
    <li><p>Der Nutzer ist verpflichtet, die persönlichen Zugangsvoraussetzungen zu seinem persönlichen
      Bereich geheim zu halten und Missbrauch durch Dritte zu verhindern. Der Nutzer wird dem Anbieter
      unverzüglich den Verlust seines Kennwortes oder den missbräuchlichen Zugang von Dritten
      anzeigen.</p></li>
    <li><p>Der Nutzer ist nicht berechtigt, technische oder inhaltliche Manipulationen an trendsetter.eu
      oder in seinem persönlichen Bereich vorzunehmen. Der Nutzer hat insbesondere jegliche
      Aktivitäten zu unterlassen, die den Zugang auf die Website der intosite GmbH oder seinen
      persönlichen Bereich durch berechtigte Personen beeinträchtigt.</p></li>
    <li><p>Der Nutzer hat dafür Sorge zu tragen und ist dafür verantwortlich, dass von ihm eingestellte
      Inhalte frei von Viren, Würmern, Trojanern oder sonstigen Elementen sind, die die
      Funktionsfähigkeit oder den Bestand von www.trendsetter.eu oder die Accounts anderer Nutzer
      gefährden oder beeinträchtigen können. Der Nutzer ist verpflichtet, sämtliche zur Gefährdung
      oder Beeinträchtigung der Funktionsfähigkeit von www.trendsetter.eu oder anderer Nutzer-Accounts
      geeigneten Handlungen zu unterlassen.</p></li>
    <li><p>Der Nutzer ist alleine für von ihm eingestellte Inhalte oder von ihm begangenen Handlungen
      verantwortlich. Der Nutzer versichert, dass es sich bei den Inhalten entweder um rechtefreies
      Material handelt oder er über die erforderlichen Rechte der Berechtigten (insbesondere Urheber-,
      Marken-, Namens- und Kennzeichenrechte) verfügen kann. Der Nutzer versichert weiter, dass von
      ihm auf www.trendsetter.eu eingestellte Inhalte sowie seine Handlungen im Rahmen der
      Kommunikation mit anderen Nutzern nicht gegen Rechte Dritter einschließlich
      Geschäftsgeheimnissen, gesetzliche Bestimmungen oder die guten Sitten verstoßen, insbesondere
      nicht rassistisch, gewaltverherrlichend, pornographisch, bedrohend, belästigend, anstößig oder
      jugendgefährdend sind.</p></li>
    <li><p>Dem Nutzer ist untersagt, auf www.trendsetter.eu andere Nutzer unzumutbar zu belästigen
      (insbesondere durch Beleidigungen, Obszönitäten o.ä.), politische oder weltanschauliche
      Anschauungen zu verbreiten oder dafür zu werben (insbesondere unter Verwendung von Symbolen oder
      Zeichen solcher Anschauungen) oder Inhalte mit politischen oder weltanschaulichen Zielsetzungen
      einzustellen (wie z.B. Unterschriftenaktionen, Aufrufe zu Meinungsäußerungen, Versammlungen
      etc.). Dem Nutzer ist ferner untersagt, auf www.trendsetter.eu eine fremde Identität
      vorzutäuschen.</p></li>
    <li><p>Der Nutzer hält die intosite GmbH von Schäden frei, die dadurch entstehen, dass der Nutzer
      gegen vorstehende Pflichten verstößt. Das umfasst angemessene Kosten einer notwendigen
      Rechtsverteidigung.</p></li>
  </ol>

  <h3>V. Vertragsbeendigung</h3>

  <ol>
    <li><p>Der Nutzer kann seine Mitgliedschaft auf der Plattform jederzeit beenden, indem er seinen
      Account löscht.</p></li>
    <li><p>Die intosite GmbH kann einem Nutzer aus wichtigem Grund kündigen. Ein wichtiger Grund liegt
      insbesondere vor,</p>

      <ul>
        <li>wenn der Nutzer bei Vertragsanbahnung falsche Angaben zu seiner Identität oder den
          beratungsrelevanten Daten gemacht hat;
        </li>
        <li>wenn der Nutzer einer ordnungsgemäß erfolgten AGB-Änderung widerspricht;</li>
        <li>wenn das Angebot eingestellt wird;</li>
        <li>wenn der Nutzer gegen Nr. IV. dieser Nutzungsbedingungen verstößt.</li>
      </ul>
    </li>
    <li><p>Bei einem begründeten Verdacht, dass ein Kündigungsgrund gemäß Nr. V. 2. dieser
      Nutzungsbedingungen vorliegt, ist der Anbieter berechtigt, das Konto temporär bzw.
      erforderlichenfalls endgültig zu sperren und die Daten des Nutzers ganz oder teilweise von der
      Plattform zu löschen. Vor einer endgültigen Sperrung bzw. Löschung ist der Nutzer hierüber unter
      Angabe der Gründe zu benachrichtigen.</p></li>
  </ol>

  <h3>VI. Haftung</h3>

  <ol>
    <li><p>Der Anbieter übernimmt im Hinblick auf die angebotenen Dienstleistungen keine Haftung für
      deren ununterbrochene Verfügbarkeit.</p></li>
    <li><p>Der Anbieter übernimmt keine Haftung dafür, dass die für das Angebot genutzte Hard- und
      Software zu jeder Zeit fehlerfrei arbeitet oder dass etwaige Fehler in der Hard- oder Software
      korrigiert werden, und übernimmt keine Haftung für Schäden, die aus der Nutzung oder
      Unmöglichkeit der Nutzung der Dienste, einschließlich Datenverlust oder Datenkorruption
      entstehen.</p></li>
    <li><p>Der Anbieter übernimmt keine über die gesetzliche Haftung hinausgehende Haftung für die zu
      testenden Produkte, wenn bzw. soweit sich das nicht aus dem konkreten Produkttest ergibt.</p>
    </li>
  </ol>

  <h3>VII. Änderungsvorbehalt</h3>

  <ol>
    <li><p>Der Anbieter ist berechtigt, diese Allgemeinen Geschäftsbedingungen jederzeit zu ändern,
      soweit dies zur Anpassung an Entwicklungen erforderlich ist, welche bei der Registrierung nicht
      vorhersehbar waren und deren Nichtberücksichtigung die Ausgewogenheit des Vertragsverhältnisses
      merklich stören würde. Dies ist insbesondere, aber nicht ausschließlich der Fall bei einer
      Änderung der Rechtsprechung, die auf die in diesen AGB getroffenen Regelungen Einfluss
      haben.</p></li>
    <li><p>Dem Nutzer werden Änderungen per E-Mail bekannt gegeben. Meldet sich in diesem Fall der
      Nutzer binnen sechs Wochen nicht ab, erklärt er sich hierdurch mit der Geltung der geänderten
      Bedingungen einverstanden. Die Änderungsmitteilung muss noch einmal den Hinweis auf die
      Möglichkeit der Abmeldung, sowie die Bedeutung, bzw. Folgen des Unterlassens der Abmeldung
      enthalten.</p></li>
    <li><p>Es bleibt im Übrigen vorbehalten:</p>

      <ul>
        <li>die redaktionelle oder grafische Gestaltung sowie den Aufbau der Internetseiten
          jederzeit zu ändern oder aber deren Inhalte und Funktionalitäten zu erweitern oder neu
          zu sortieren;
        </li>
        <li>das Angebot insgesamt ersatzlos einzustellen.</li>
      </ul>
    </li>
  </ol>

  <h3>VIII. Besondere Bedingungen für einzelne Aktionen</h3>

  <p>Für einzelne Aktionen können spezielle Bedingungen gelten.<br>
    Diese werden dem Nutzer im direkten Zusammenhang mit dem Angebot bekannt gegeben.</p>

  <h3>IX. Nutzungsrechte</h3>

  <p>Soweit durch die Teilnahme des Nutzers Urheberrechte begründet werden (z. B. an den im Fragebogen
    schriftlich niedergelegten Produktbewertungen oder an im Rahmen der Produktbewertung erstellten und
    übermittelten Fotos des Nutzers), tritt er an diesen die zur Bereitstellung des Angebots
    erforderlichen Nutzungsrechte zeitlich, inhaltlich und räumlich unbeschränkt an den Anbieter ab.</p>

  <h3>X. Schlussbestimmungen</h3>

  <ol>
    <li><p>Wenn der Teilnehmer keinen allgemeinen Gerichtsstand im Inland hat oder nach Teilnahmebeginn
      seinen Wohnsitz oder gewöhnlichen Aufenthaltsort aus dem Geltungsbereich der Deutschen
      Zivilprozessordnung verlegt oder sein Wohnsitz oder gewöhnlicher Aufenthalt zum Zeitpunkt einer
      Klageerhebung nicht bekannt ist, wird als Gerichtsstand Hamburg vereinbart.</p></li>
    <li><p>Die Teilnahmebedingungen unterliegen dem materiellen deutschen Recht, sofern keine
      Verbraucherschutzvorschriften entgegenstehen.</p></li>
  </ol>
  </div>
  </div>

  </div>
{% endblock content %}