{% extends 'base.jinja' %}

{% block content %}

  <div class="inner container">
  <div class="row">
  <div class="col-md-20 col-md-offset-2">
  <h2 id="toc">FAQ</h2>
  <h4>Allgemeine Fragen</h4>
  <ul>
    <li><a href="#q-1-1">Was ist Trendsetter?</a></li>
    <li><a href="#q-1-2">Was ist meine Aufgabe als Trendsetter?</a></li>
    <li><a href="#q-1-3">Ist die Registrierung bei Trendsetter kostenlos?</a></li>
    <li><a href="#q-1-4">Was ist der Unterschied zwischen registrieren, einloggen und bewerben?</a></li>
    <li><a href="#q-1-5">Wozu sind die Benachrichtigungen per E-Mail gut?</a></li>
    <li><a href="#q-1-6">Darf ich die Produkte kostenlos behalten?</a></li>
    <li><a href="#q-1-7">Was ist das Trendsetter-Ticket?</a></li>
    <li><a href="#q-1-8">Was sind Umfragen?</a></li>
    <li><a href="#q-1-9">Was sind Trendpoints?</a></li>
    <li><a href="#q-1-10">Warum habe ich immer noch kein Trendsetter-Ticket erhalten?</a></li>
    <li><a href="#q-1-11">Was passiert mit meinen Daten?</a></li>
    <li><a href="#q-1-12">Was tue ich, wenn ich meine Frage hier nicht gefunden habe?</a></li>
  </ul>
  <h4>Fragen zu Teilnahme &amp; Ablauf</h4>
  <ul>
    <li><a href="#q-2-13">Wie kann ich bei Produkttests mitmachen?</a></li>
    <li><a href="#q-2-14">Ist die Teilnahme an Produkttests kostenlos?</a></li>
    <li><a href="#q-2-15">Woher weiß ich, dass ich für einen Produkttest ausgewählt wurde?</a></li>
    <li><a href="#q-2-16">Was tue ich, wenn ich ein Trendsetter-Ticket (Zusage) erhalten habe?</a></li>
    <li><a href="#q-2-17">Wie kommt mein Produkt zu mir nach Hause?</a></li>
    <li><a href="#q-2-18">Was tue ich, wenn ich das Produkt nicht erhalten habe?</a></li>
    <li><a href="#q-2-19">Was passiert im Projekt-Forum?</a></li>
  </ul>
  <h4>Technische Fragen</h4>
  <ul>
    <li><a href="#q-3-20">Ich habe mein Passwort vergessen: Wie komme ich an ein neues Passwort?</a>
    </li>
    <li><a href="#q-3-21">Was kann ich tun, wenn ich einen Fragebogen oder Ähnliches nicht ausfüllen
      kann?</a></li>
    <li><a href="#q-3-22">Was mache ich, wenn die Anmeldung nicht funktioniert?</a></li>
    <li><a href="#q-3-23">Wie kann ich meinen Account löschen?</a></li>
  </ul>
  <hr>
  <h3>Allgemeine Fragen</h3>

  <div class="faq-entry" id="q-1-1">
    <h4>Was ist Trendsetter?</h4>

    <p>Trendsetter ist die neue kostenlose Produkttest-Plattform mit den bekannten Marken FÜR SIE, PETRA
      und PRINZ. Hier werden neue Produkte und Services vorgestellt und von Dir als registrierter
      Trendsetter kostenlos getestet, bewertet und über modernes Word of Mouth-Marketing
      verbreitet.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-1-2">
    <h4>Was ist meine Aufgabe als Trendsetter?</h4>

    <p><strong>1. Teste ausgiebig und kostenlos:</strong>
      Du bewirbst Dich für unsere Produkttests und erhältst, wenn Du für die Aktion ausgewählt wirst,
      die Produkte direkt zu Dir nach Hause, wo Du sie in Ruhe ausprobieren kannst.</p>


    <p><strong>2. Verbreite, was Dir gefällt:</strong>
      Nach dem ausführlichen Testen gibst Du über einen Online-Fragebogen Feedback an den
      Produkthersteller weiter und empfiehlst, was Dir gefällt, in Form von Testberichten auf unseren
      Seiten, auf Deinen eigenen Websites &amp; Blogs, auf Social Networks, Foren oder
      Bewertungsplattformen weiter. So machst Du die Ergebnisse im Freundes- und Bekanntenkreis durch
      Mundpropaganda bekannt und ein gutes Produkt schnell populär.


    </p>

    <p><strong>3. Nimm Einfluss auf Produkte und Marken:</strong>
      Als Trendsetter steht Deine Meinung als Konsument im Mittelpunkt. Hier entscheidest Du, was
      angesagt ist! So kannst Du Marken und Unternehmen mit Deiner ehrlichen Meinung beeinflussen und
      gleichzeitig helfen Produkte oder Services zu verbessern und weiterzuentwickeln.
      Zusätzlich wirst Du für Deinen Einsatz mit unseren Trendpoints belohnt, die Du bei uns gegen
      tolle Artikel eintauschen kannst.


    </p>

    <p><strong>4. Tausche Dich mit anderen aus:</strong>
      Als registrierter Trendsetter bist Du Teil unserer Trendsetter-Community und kannst Dich nach
      Lust und Laune mit anderen Trendsettern austauschen und mitdiskutieren.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-1-3">
    <h4>Ist die Registrierung bei Trendsetter kostenlos?</h4>

    <p>Ja, die Registrierung bei Trendsetter ist kostenfrei.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-1-4">
    <h4>Was ist der Unterschied zwischen registrieren, einloggen und bewerben?</h4>

    <p><a href="http://www.trendsetter.eu/user/register/">Registrieren</a> kannst Du Dich, wenn Du
      bisher noch kein User von Trendsetter warst und gerne an unseren Produkttests teilnehmen
      möchtest. Dafür musst Du Deine E-Mail-Adresse im entsprechenden Feld eingeben. Danach schicken
      wir Dir einen Registrierungslink per E-Mail zu. Erst durch das Klicken auf diesen Link ist Deine
      Registrierung endgültig abgeschlossen. </p>

    <p>Zum <a href="http://www.trendsetter.eu/user/register/&quot;">Einloggen</a> gibst Du nach
      abgeschlossener Registrierung Deinen Usernamen und Dein Passwort in die entsprechenden Felder
      auf unserer Startseite ein. Nur eingeloggt kannst Du Deine persönlichen Daten in den
      Einstellungen ändern, im Projekt-Forum oder in der Projekt-Galerie posten, Dich bei Projekten
      bewerben, mit anderen Trendsettern austauschen oder an Umfragen teilnehmen.</p>

    <p><a href="http://www.trendsetter.eu/produkttests/">Bewerben</a> kannst Du Dich bei den einzelnen
      Produkttests nur in eingeloggtem Zustand und nur innerhalb der Bewerbungsphasen. Die Termine
      findest Du auf den Infoseiten des entsprechenden Projekts. Für die Bewerbung füllst Du bitte
      innerhalb der Frist den Bewerbungsfragebogen aus.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-1-5">
    <h4>Wozu sind die Benachrichtigungen per E-Mail gut?</h4>

    <p>Zu allen Produkttests und Trendsetter-Aktionen wird per E-Mail eingeladen. Deswegen ist die
      Angabe einer korrekten E-Mail-Adresse und die Erlaubnis Dich per E-Mail kontaktieren zu dürfen
      Vorraussetzung, um an unseren Produkttests teilzunehmen. Durch unsere Benachrichtigungen
      erfährst Du alles, was Du über die jeweilige Aktion wissen musst und gelangst direkt zu den
      entsprechenden Seiten. Mehr Infos dazu erfährst Du auch in unseren <a
          href="http://www.trendsetter.eu/produkttests/">Datenschutzbestimmungen.</a></p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-1-6">
    <h4>Darf ich die Produkte kostenlos behalten?</h4>

    <p>Solltest Du eine Zusage für einen Produkttest erhalten, darfst Du das Produkt in den meisten
      Fällen kostenlos behalten. In einigen Fällen, in denen wir hochpreisige Produkte (wie z.B. ein
      Auto, elektronische Geräte etc.) testen lassen, werden die Produkte nach Ablauf der Testphase
      wieder zurückgesendet. In diesen Fällen weisen wir zu Beginn der Bewerbungsphase darauf hin,
      dass die Produkte zurückgesendet werden müssen, und es muss lediglich ein Pfand hinterlegt
      werden, der Dir nach der Testphase und der Rücksendung des Produkts zurückerstattet wird.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-1-7">
    <h4>Was ist das Trendsetter-Ticket?</h4>

    <p>Das Trendsetter-Ticket ist Deine Zusage für Deine Teilnahme am jeweiligen Produkttest. Du
      bekommst es, wenn Du ausgewählt wurdest, per E-Mail zugesandt.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-1-8">
    <h4>Was sind Umfragen?</h4>

    <p>Die Umfragen findest Du im eingeloggten Zustand über im Bereich "Meine Seite" unter dem Menüpunkt
      “Meine Umfragen”. Diese Kurzumfragen sind wichtige Umfragen zu verschiedenen Themenfeldern, mit
      denen wir Dich besser kennenlernen möchten.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-1-9">
    <h4>Was sind Trendpoints?</h4>

    <p>Trendpoints sind Deine Belohnung, die Du für Deine Teilnahme an ausgewählten Aktivitäten sammeln
      kannst. Je mehr Trendpoints Du gesammelt hast, desto höher schätzen wir Deine Aktivität bei
      Trendsetter ein und können besser feststellen, ob du in die Zielgruppe der jeweiligen Aktion
      passt. Außerdem kannst Du, wenn Du genug Trendpoints gesammelt haste, diese gegen tolle Artikel
      eintauschen. Dazu musst Du einfach im eingeloggten Zustand im Bereich "Meine Seite" unter dem
      Menüpunkt "Meine Trendpoints" die Prämie Deiner Wahl anfordern.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-1-10">
    <h4>Warum habe ich immer noch kein Trendsetter-Ticket erhalten?</h4>

    <p>Oft gibt es so viele Bewerbungen für einen Produkttest, dass wir natürlich nicht alle Bewerber
      auswählen können. Manchmal kann es auch daran liegen, dass wir noch nicht genügend Informationen
      über Dich sammeln konnten, weil Du noch nicht alle Umfragen ausgefüllt hast oder Dein Profil
      unvollständig ist.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-1-11">
    <h4>Was passiert mit meinen Daten?</h4>

    <p>Deine Daten werden von uns vertraulich behandelt und nicht an Dritte weitergegeben. Weitere Infos
      findest Du unter den <a
          href="http://www.trendsetter.eu/datenschutz/">Datenschutzbestimmungen.</a></p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-1-12">
    <h4>Was tue ich, wenn ich meine Frage hier nicht gefunden habe?</h4>

    <p>Schreibe uns einfach eine Mail an <strong>info@trendsetter.eu</strong>. Am Besten schreibst Du
      gleich Deinen Usernamen oder Deine registrierte E-Mail-Adresse dazu.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <h3>Fragen zu Teilnahme &amp; Ablauf</h3>

  <div class="faq-entry" id="q-2-13">
    <h4>Wie kann ich bei Produkttests mitmachen?</h4>

    <p>Als Erstes musst Du Dich einmalig und kostenlos bei Trendsetter registriert haben. Danach
      schicken wir Dir einen Registrierungslink per E-Mail zu. Erst durch das Klicken auf diesen Link
      und nachdem Du die Grunddaten in den Einstellungen ausgefüllt hast, ist Deine Registrierug
      endgültig abgeschlossen. Danach kannst Du Dich einloggen und Dich für den jeweiligen Produkttest
      bewerben. (Siehe auch: Was ist der Unterschied zwischen registrieren, einloggen und
      bewerben?)</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-2-14">
    <h4>Ist die Teilnahme an Produkttests kostenlos?</h4>

    <p>In den meisten Fällen sind unsere Produkttests vollkommen kostenlos und das Produkt darf behalten
      werden. In einigen Fällen, in denen wir hochpreisige Produkte (wie z.B. ein Auto, elektronische
      Geräte etc.) testen lassen, ist die Testphase mit der Zahlung eines Pfandes verbunden. Am Ende
      der Testphase kannst Du dann entscheiden, ob Du das Produkt behalten möchtest oder Deinen Pfand
      zurückerstattet bekommen möchtest.
      In diesen Fällen weisen wir zu Beginn der Bewerbungsphase darauf hin, dass es sich um einen
      Produkttest mit Pfandhinterlegung handelt.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-2-15">
    <h4>Woher weiß ich, dass ich für einen Produkttest ausgewählt wurde?</h4>

    <p>Wenn Du für den jeweiligen Produkttest ausgewählt wurdest, erhältst Du eine E-Mail mit dem
      Trendsetter-Ticket (Deine Zusage zum Produkttest) zugesandt. Ab und zu kommt es vor, diese
      E-Mails auch im Spamordner Deines Postfach landen, deswegen raten wir Dir auch dort ab und zu
      nachzusehen.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-2-16">
    <h4>Was tue ich, wenn ich ein Trendsetter-Ticket (Zusage) erhalten habe?</h4>

    <p>Wenn Du als Trendsetter ausgewählt wurdest und Dein Produkt seinen Weg zu Dir gefunden hat,
      kannst Du das Produkt nach Lust und Laune mit Familie und Freunden ausgiebig testen. Lass uns an
      Deinen Erlebnissen und Erfahrungen teilhaben: Lade Fotos von Dir und Deinen Freunden in unsere
      Projekt-Galerie, poste auf unsere Facebookseite und schreibe uns Deine Eindrücke in unseren
      Projekt-Forum. Nach der Testphase senden wir Dir dann den Abschlussfragebogen per E-Mail zu und
      Du kannst Dein Feedback zum Produkt geben.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-2-17">
    <h4>Wie kommt mein Produkt zu mir nach Hause?</h4>

    <p>Wenn Du Dein Trendsetter-Ticket per E-Mail zugesandt bekommen hast und für den jeweiligen
      Produkttest ausgewählt wurdest, senden wir Dir alle notwendigen Infos per E-Mail zu.
      Anschließend wird das Produkt zu Dir nach Hause geschickt. Voraussetzung hierfür ist immer, dass
      Du Deine vollständige, aktuelle Adresse angegeben hast.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-2-18">
    <h4>Was tue ich, wenn ich das Produkt nicht erhalten habe?</h4>

    <p>Wenn Dein Paket nicht bei Dir angekommen ist, setze uns bitte sofort darüber in Kenntnis und
      schreib uns eine E-Mail an <strong>info@trendsetter.eu</strong>. Dann können wir das Paket
      nachverfolgen oder senden es Dir wenn möglich nach.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-2-19">
    <h4>Was passiert im Projekt-Forum?</h4>

    <p>Wir haben zu jedem Produkttest einen Projekt-Forum, den Du über die jeweilige Produkttestseite
      erreichst. Hier kannst Du Deine Erfahrungen mit dem Produkt austauschen, Fragen sowie Anregungen
      an die anderen Trendsetter weitergeben und Deine Links zu Deinen Produktbewertungen und
      Einträgen posten. </p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <h3>Technische Fragen</h3>

  <div class="faq-entry" id="q-3-20">
    <h4>Ich habe mein Passwort vergessen: Wie komme ich an ein neues Passwort?</h4>

    <p>Einfach beim Login auf “Passwort vergessen” klicken, Deine E-Mail-Adresse eingeben und Du
      bekommst Dein Passwort zugeschickt. Bei Komplikationen schreibe uns einfach eine E-Mail an
      <strong>info@trendsetter.eu</strong> und schildere uns Dein Problem. Am Besten schreibst du
      gleich Deinen Usernamen oder Deine registrierte E-Mail-Adresse dazu.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-3-21">
    <h4>Was kann ich tun, wenn ich einen Fragebogen oder Ähnliches nicht ausfüllen kann?</h4>

    <p>Schreibe uns einfach eine Mail an <strong>info@trendsetter.eu</strong> und schildere uns Dein
      Problem. Am Besten schreibst du gleich Deinen Usernamen oder Deine registrierte E-Mail-Adresse
      dazu.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-3-22">
    <h4>Was mache ich, wenn die Anmeldung nicht funktioniert?</h4>

    <p>Schreibe uns einfach eine Mail an <strong>info@trendsetter.eu</strong> und schildere uns Dein
      Problem. Am Besten schreibst du gleich Deinen Usernamen oder Deine registrierte E-Mail-Adresse
      dazu.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  <div class="faq-entry" id="q-3-23">
    <h4>Wie kann ich meinen Account löschen?</h4>

    <p>Um Dein Benutzerkonto zu löschen, schreibe uns eine E-Mail mit Deinem Anliegen an
      <strong>info@trendsetter.eu</strong>
      schreiben.</p>

    <div class="faq-entry-meta"><a href="#toc">Zurück zum Inhaltsverzeichnis</a></div>
  </div>
  </div>
  </div>

  </div>



{% endblock content %}