{% extends 'base.jinja' %}

{% block content %}

  <div class="inner container">
    <h1>Impressum</h1>

    <p>
      Verantwortlich für den Inhalt ist:
    </p>
    <address>
      intosite GmbH
      <br>
      Poßmoorweg 2
      <br>
      22301 Hamburg
    </address>
    <p>
      Telefon: 040 – 278 72 70 – 100
      <br>
      Telefax: 040 – 278 72 70 – 101
    </p>

    <p>
      E-Mail: <a href="mailto:info@intosite.de">info@intosite.de</a>
      <br>
      Internet: <a href="http://www.intosite.de/">www.intosite.de</a>
    </p>

    <p>
      Handelsregister Hamburg B 118 526
    </p>

    <p>
      USt-ID-Nr. DE 277 364 052
      <br>
      Geschäftsführer: Sebastian Ganske, Moritz Philip Recke
    </p>
    <h4>Haftungshinweis</h4>

    <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.</p>

    <p>Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>

    <p>Dieses Impressum gilt auch für die folgenden Social-Media-Auftritte:</p>

    <p>
      <a href="https://facebook.com/trendsetter.eu">Facebook</a>
      <br>
      <a href="https://twitter.com/TRENDSETTER_eu">Twitter</a>
      <br>
      <a href="https://plus.google.com/104263993094810252271">Google+</a>
    </p>

  </div>


{% endblock content %}