{% extends 'base.jinja' %}

{% block content %}

  <div class="inner container">
    <div class="row">
      <div class="col-md-20 col-md-offset-2">
        <h2>Teilnahmebedingungen</h2>

        <h3>1. Allgemeines</h3>

        <p>Trendsetter ist ein Service der intosite GmbH, Poßmoorweg 2, 22301 Hamburg, nachfolgend „Intosite“ genannt.
          Diese Teilnahmebedingungen regeln die Nutzung der angebotenen Online-Dienste der Webseite <a
              href="http://www.trendsetter.eu">www.trendsetter.eu</a> (nachfolgend „Trendsetter“ genannt).</p>

        <p>Vertragsgegenstand ist die Erbringung einer Online-Dienstleistung zur Erhebung von Marktdaten und zur
          Teilnahme an Produkttests und Gewinnspielen. Der Vertrag kommt durch die Zusendung eines Aktivierungslinks
          durch intosite an die vom Nutzer in der Registrierung angegebene E-Mail-Adresse zustande und ist durch die
          nachfolgende Aktivierung durch den Nutzer abgeschlossen. Die Registrierung bei Trendsetter ist kostenlos. Die
          Kündigung der Mitgliedschaft kann jederzeit vom Nutzer schriftlich an <a href="mailto:info@trendsetter.eu">info@trendsetter.eu</a>
          erbeten werden. Der Nutzer bzw. dessen gesetzlicher Vertreter, nachfolgend "Nutzer" genannt, erklärt sich
          damit einverstanden, dass die Korrespondenz von bzw. mit dem Anbieter über die bei der Registrierung
          angegebene E-Mail-Adresse des Nutzers erfolgen kann.</p>

        <h3>2. Gewinnspiel</h3>

        <p>Diese Teilnahmebedingungen gelten für das „Trendsetter-Gewinnspiel“ auf trendsetter.eu (nachfolgend
          „Gewinnspiel“ genannt). Das Gewinnspiel wird von intosite selbständig durchgeführt.</p>

        <p>Voraussetzung für den Zugang und die Teilnahme am Gewinnspiel ist die kostenfreie Registrierung unter <a
            href="http://www.trendsetter.eu">www.trendsetter.eu</a>.</p>

        <p>Mit der Teilnahme am Gewinnspiel akzeptiert der Teilnehmer die Teilnahmebedingungen von Trendsetter.</p>

        <p>Die Nutzungsbedingungen haben auch dann Gültigkeit, wenn Angebote von <a href="http://www.trendsetter.eu">www.trendsetter.eu</a>
          von außerhalb der Bundesrepublik Deutschland genutzt werden. Abweichende Regelungen und insbesondere
          Bedingungen des Nutzers, die mit diesen Teilnahmebedingungen in Widerspruch stehen, sind nur gültig, wenn sich
          intosite schriftlich damit einverstanden erklärt.</p>

        <h3>3. Der Gewinn</h3>

        <p>
          2 x Philips VisaCare SC6240/01 (Inhalt: DualAction Air Lift- und Peelingsystem, 2 Aufsätze: Normale und
          empfindliche Haut, Ladestation, Reinigungsbürste zum Säubern des Peeling-Rings nach Gebrauch,
          Aufbewahrungstasche)
        </p>

        <h3>4. Teilnahmeberechtigung</h3>

        <p>Teilnahmeberechtigt sind nur volljährige Personen. Pro Person ist nur eine Teilnahme gestattet. Der Gewinn
          ist nicht auf andere Personen übertragbar. Mitarbeiter der Firma intosite GmbH und deren Angehörige sind von
          der Teilnahme ausgeschlossen.</p>

        <p>Teilnehmer, die falsche oder ungültige bzw. nicht wahrheitsgemäßen Angaben gemacht haben oder die durch
          technische Manipulation die Chancengleichheit beeinflussen, können jederzeit nach freiem Ermessen der intosite
          GmbH zum - ggf. nachträglichen - Ausschluss von der Teilnahme führen. Die Teilnahme über einen automatisierten
          Dienst (z.B. Gewinnspielservice) führt automatisch zum Ausschluss von der Teilnahme am Gewinnspiel.</p>

        <h3>5. Durchführung des Gewinnspiels</h3>

        <p>Das Gewinnspiel beginnt am 12.08.2014 um 10:00 Uhr und endet am 25.09.2014, 10:00 Uhr. Eingänge, die nach
          Ablauf des Teilnahmeschlusses registriert werden, können nicht mehr berücksichtigt werden. Für die Teilnahme
          an dem Gewinnspiel ist erforderlich, dass der Teilnehmer sich mit seiner E-Mail-Adresse auf <a
              href="http://www.trendsetter.eu">www.trendsetter.eu</a> bei Trendsetter registriert hat sowie die
          Teilnahmebedingungen von Trendsetter annimmt und einhält.</p>

        <h3>6. Abwicklung des Gewinnspiels</h3>

        <p>Aus allen gültigen Einsendungen wird ein Gewinner per Los ermittelt. Intosite wird den Gewinner über die
          hinterlegte E-Mail-Adresse benachrichtigen. Meldet sich der Gewinner nicht innerhalb von zwei Wochen bei
          intosite, entfällt der Gewinnanspruch ersatzlos. Intosite wird dann einen neuen Gewinner per Los ermitteln.
          Die Adresse des Gewinners wird zur Abwicklung des Versandes an Philips weitergeleitet.</p>

        <p>Eine Barauszahlung des Gewinns ist in jedem Fall ausgeschlossen. Der Anspruch auf den Gewinn kann nicht
          abgetreten oder übertragen werden.</p>

        <p>Andere Rechte als die in diesen Teilnahmebedingungen bezeichneten können aus dem Gewinnspiel nicht
          hergeleitet werden. Der Rechtsweg ist ausgeschlossen.</p>

        <h3>7. Haftung</h3>

        <p>Eine Haftung von intosite – gleich aus welchem Rechtsgrund – besteht nur, sofern intosite eine
          Pflichtverletzung zu vertreten hat, deren Erfüllung die ordnungsgemäße Durchführung dieses Gewinnspiels
          überhaupt erst ermöglicht, deren Verletzung die Erreichung des Gewinnspielzwecks gefährdet oder auf deren
          Einhaltung der Teilnehmer/Gewinner regelmäßig vertrauen kann (Kardinalpflicht). In diesem Fall ist die Haftung
          des Veranstalters auf vertragstypische vorhersehbare Schäden begrenzt. Die Haftung für ausgebliebene
          Einsparungen oder sonstige entfernte Mangelfolgeschäden ist ausgeschlossen. Eine Haftung für Sach- und
          Rechtsmängel des Gewinns ist ebenfalls ausgeschlossen. Vorstehende Haftungsbeschränkungen oder –Ausschlüsse
          gelten auch für die persönliche Haftung der Organe, Mitarbeiter und Erfüllungsgehilfen des Veranstalters.</p>

        <p>Das Risiko von Verlust oder Beschädigung des Gewinns geht mit Auslieferung des Gewinns an das
          Versand-/Transportunternehmen auf den Gewinner über.</p>

        <p>Intosite behält sich das Recht vor, das Gewinnspiel jederzeit und ohne Vorankündigung zu beenden, zu ändern
          oder zu verschieben, sollte sich herausstellen, dass aus tatsächlichen oder rechtlichen Gründen eine
          ordnungsgemäße Durchführung nicht gewährleistet werden kann. Intosite schließt für diesen Fall jegliche
          Haftung oder etwaige Ansprüche auf Schadensersatz aus.</p>

        <h3>8. Datenschutz</h3>

        <p>Der Gewinnspielteilnehmer willigt mit seiner Teilnahme am Gewinnspiel in die Speicherung und Nutzung seiner
          Daten im Zusammenhang und für Zwecke einer Registrierung bei Trendsetter, der Durchführung des Gewinnspiels
          und der anschließenden Korrespondenz über die angegebene Email-Adresse ein. Dem Teilnehmer steht jederzeit das
          Recht zu, seine Einwilligung schriftlich per Mail bei <a
              href="mailto:info@trendsetter.eu">info@trendsetter.eu</a> zu widerrufen. Bei Widerruf erfolgt ein
          Rücktritt von der Teilnahme am Gewinnspiel und der Registrierung als Trendsetter.</p>

        <h3>9. Sonstiges</h3>

        <p>Intosite wird das Gewinnspiel entsprechend dem geltenden Recht der Bundesrepublik Deutschland durchführen.
          Beschwerden oder Fragen hinsichtlich der Teilnahmebedingungen und des Gewinnspiels können schriftlich per Mail
          an <a href="mailto:info@trendsetter.eu">info@trendsetter.eu</a> gerichtet werden.</p>
      </div>
    </div>

  </div>
{% endblock content %}