{% extends 'base.jinja' %}


{% block top_navbar_brand %}{# empty #}{% endblock %}
{% block top_navbar_main_navigation %}{# empty #}{% endblock %}


{% block title %}Über uns{% endblock title %}

{% block content %}

  <div class="inner container">
    <div class="row">
      <div class="col-md-20 col-md-offset-2">
        <h2>Über uns</h2>

        <p>
          <img
              alt="product-test team"
              class="content-photo"
              src="{{ static('app/images/product-test_team.jpg') }}">
        </p>

        <p>Unser product-test-Team in Hamburg besteht aus <b>Katharina</b>, <b>Claudia</b> und <b>Buket</b>
          (v.l.n.r.).
        </p>

        <p>Bei allen Fragen, Anregungen, Lob und Vorschlägen stehen wir Euch gerne zur Seite und freuen uns
          <a href="mailto:info@product-test.eu">auf Eure Emails</a>!
        </p>
      </div>
    </div>

  </div>

{% endblock content %}