{% extends 'base.jinja' %}

{% block content %}
<div class="inner container">
  <div class="box login col-md-12 col-md-offset-6">
    <h2>Hier kannst du dein Password zurücksetzen.</h2>

    <form accept-charset="UTF-8" action="{{ url('user:password_reset') }}" class="new_user" id="new_user" method="post">

      {% csrf_token %}
      {{ form.as_ul() }}
      <input type="submit">

    </form>

  </div>

</div>
{% endblock %}