{% extends 'email/base.jinja' %}

{% block context %}
  <h3>Lieber Trendsetter,</h3>
  <p>
    wir freuen uns über Deine Registrierung bei Trendsetter!
    Um Deine Registrierung abzuschließen, klicke bitte auf Registrierung bestätigen oder gib die folgende Adresse in
    deinem Browser ein:
  </p>
  <a style="color:rgb(255,99,91)" href="{{ verification_link }}">{{ verification_link }}</a>
  <p>
    Viel Spaß!
    Dein Trendsetter Team
  </p>
  <p>
    PS: Dieser Registrierungslink ist einmalig für 7 Tage gültig, danach wird Deine Registrierung gelöscht.
  </p>
{% endblock %}
