{% extends 'base.jinja' %}

{% block body_class %}s--users p--register{% endblock %}

{% block content %}

  <div class="inner container">
    <div class="box register col-md-12 col-md-offset-6">
      <h2>Registrierung bei Trendsetter</h2>

      <div class="form-group">
        <form accept-charset="UTF-8" action="{{ url('user:register') }}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}" class="new_user" id="new_user" method="post">
          {% csrf_token %}
          {% autoescape off %}
          {{ form|bootstrap }}
          {% endautoescape %}
          <input class="btn-primary btn-block btn-block-big" name="commit" type="submit" value="Jetzt registrieren">
        </form>

      </div>

{#      <p style="margin-top: 16px">#}
{#        Vorregistriert?#}
{#        <a href="{{ url('user:settings') }}">Profil vervollständigen</a>#}
{#      </p>#}

      <p style="margin-top: 16px">
        Schon registriert?
        <a href="{{ url('user:login') }}">{{ _('Log in') }}</a>
      </p>
    </div>

  </div>

{% endblock %}