{% extends 'base.jinja' %}

{% block body_class %}s--users p--register{% endblock %}

{% block content %}

  <div class="inner container">
    <div class="box register col-md-12 col-md-offset-6">
      <h2>Vielen Dank für Deine Registrierung!</h2>
      <p style="margin-top: 16px">
        Wir haben Dir einen Bestätigungslink an die von Dir angegebene E-Mail-Adresse gesendet.
        Bitte klicke auf den Link in dieser E-Mail, um Deine Registrierung bei product-test abzuschließen und den Erhalt von E-Mails mit allen Infos zu den kommenden Produkttests zu bestätigen.
        Wir heißen Dich bei product-test herzlich willkommen!
      </p>
    </div>

  </div>

{% endblock %}