{% extends 'base.jinja' %}

{% block body_class %}s--users p--register{% endblock %}

{% block content %}

  <div class="inner container">
    <div class="box register col-md-12 col-md-offset-6">
      <h2>Registrierung bei Trendsetter</h2>

      <p style="margin-top: 16px">
        Vielen Dank für deine Registrierung
      </p>
    </div>

  </div>

{% endblock %}