{% extends 'base.jinja' %}

{% block content %}
  <div class="inner container">
    <div class="box login col-md-12 col-md-offset-6">
      <h2>Dein Account wurde erfolgreich verifiziert.</h2>

      <p>
        Danke, hiermit bestätigen wir Deine Registrierung.
        Besuch uns doch auch auf unserer Facebook-Seite.
        Wir freuen uns auf Dich!
        Dein Trendsetter Team
      </p>
    </div>

  </div>
{% endblock %}