{% extends 'base.jinja' %}

{% block body_class %}flatpage{% endblock %}
{% block title %}{{ raffle.title }}{% endblock title %}
{% block navbar_image %}{% endblock %}


{% block seo_head %}
  {% for seodata in raffle.seo_data.all %}
    {% include 'senseo/meta_data.html' %}
  {% endfor %}
{% endblock %}


{% block content %}
<div class="inner container">
  <div class="row">
    <div class="col-md-24">

      {% autoescape off %}
      {{ raffle.content }}
      {% endautoescape %}

    </div>

    {% if raffle.enable_comments %}
      <a name="comments"></a>
      {% if user.is_authenticated() %}
        <div>
          <form action="{{ url('comments:new', obj_type_id=obj_type_id, obj_id=raffle.id) }}" method="POST">
            {% csrf_token %}
            {% autoescape off %}
            {{ form|bootstrap }}
            {% endautoescape %}
            <input class="btn btn-default" type="submit" value="Kommentar abschicken"/>
          </form>
        </div>
      {% endif %}

      {# TODO: factor this out and use it for together with the forum's pagination? #}
      {% with objects=comments %}
        {% include 'simple_comments/snippets/pagination.jinja' %}
      {% endwith %}

      <div>
        {% for post in comments %}
          {% include 'simple_comments/snippets/post.jinja' %}
        {% endfor %}
      </div>
    {% endif %}

  </div>
</div>
{# todo: move script to script section #}
<script>
  (function($) {
    "use strict";
    var toolbar = '<div id="toolbar">';
    toolbar += '<a data-wysihtml5-command="bold">Fett</a>';
    toolbar += ' | ';
    toolbar += '<a data-wysihtml5-command="italic">Kursiv</a>';
    toolbar += '</div>';
    $("#id_body").before(toolbar);
    var editor = new wysihtml5.Editor('id_body', {
      toolbar: 'toolbar',
      parserRules:  wysihtml5ParserRules
    });
  })(window.jQuery);
</script>

{% endblock content %}
