{% extends 'account/email/base.html' %}

{% block context %}
  <h3>Lieber product-test,</h3>
  <p>
    wir freuen uns über Deine Registrierung bei product-test!
    Um Deine Registrierung abzuschließen, klicke bitte auf Registrierung bestätigen oder gib die folgende Adresse in
    deinem Browser ein:
  </p>
  {{ activate_url }}
  <p>
    Viel Spaß!
    Dein product-test Team
  </p>
  <p>
    PS: Dieser Registrierungslink ist einmalig für 7 Tage gültig, danach wird Deine Registrierung gelöscht.
  </p>
{% endblock %}
