{% with sticker = stickers.first() %}
  <a href="{{ sticker.target_url }}">
    <img src="{{ thumbnail(sticker.image, size=(720, 0)) }}" alt="{{ sticker.name }}" style="width: 100%"/>
  </a>
{% endwith %}

