{% with sticker = stickers.get(position=0) %}
  <a target="_blank" href="{{ sticker.target_url }}">
    <img
      width="720"
      srcset="
        {{ thumbnail(sticker.image, size=(720, 0)) }}" alt="{{ sticker.name }} 1x,
        {{ thumbnail(sticker.image, size=(1440, 0)) }}" alt="{{ sticker.name }} 2x
      "
      style="width: 100%"
    />
  </a>
{% endwith %}

