
{% for sticker in stickers %}
  <a href="{{ sticker.target_url }}" target="_blank">
    <img
      width="100px"
      srcset="
        {{ thumbnail(sticker.image, size=(100, 0), upscale=True) }} 1x,
        {{ thumbnail(sticker.image, size=(200, 0), upscale=True) }} 2x
      "
      alt="{{ sticker.name }}"
    />
  </a>
{% endfor %}
