<div style="text-align: center">
    <nav class="pagination" >
        <span class="page">
            {% if objects.has_previous() %}
                <a class="btn btn-default" href="?page=1"><< erste</a>
                <a class="btn btn-default" href="?page={{ objects.previous_page_number() }}">< zurück</a>
            {% endif %}

            {% if display_page_range %}
                {% for page in page_range %}
                    {% if page is number %}
                        <a class="btn btn-default{% if objects.number == page %} active{% endif %}" href="?page={{ page }}">{{ page }}</a>
                    {% else %}
                        <span class="ellipsis">{{ page }}</span>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if objects.has_next() %}
                <a class="btn btn-default" href="?page={{ objects.next_page_number() }}">weiter ></a>
                <a class="btn btn-default" href="?page={{ objects.paginator.num_pages }}">letzte >></a>
            {% endif %}
        </span>
    </nav>
</div>
