{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
<li>
    <form action='{% url "admin:upload_particpations" object_id %}'
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="participations" value="Add Participations" />
        <input type="submit" value="hochladen" />
    </form>
</li>
<li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
</li>
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
{% endblock %}
