{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
<li class="trendsetter-upload-box" style="margin: 0 5px 10px 10px; padding: 10px 200px 10px 10px;">
    <form action='{% url "admin:upload_particpations" object_id %}'
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" value="Teilnehmer hochladen" />
        <input type="file" name="participations" value="add participations" />
    </form>
</li>
<li class="trendsetter-upload-box" style="margin: 0 10px 10px 5px; padding: 10px">
    <form action='{% url "admin:upload_trendpoints" object_id %}'
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" value="Trendpoints vergeben" />
        <label for="reference">Referenz:</label> <input type="text" name="reference" />
        <label for="trendpoints">Trendpoints:</label> <input type="text" name="trendpoints" />
        <input type="file" name="trendpoints_file" value="add trendpoints" />
    </form>
</li>
<li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "history" %}</a>
</li>
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
{% endblock %}
