
upstream django {
    server {{ nginx.location.uwsgi_pass }};
}

server {
  listen {{ nginx.listen }};
  server_name {{ nginx.server_name }};
  access_log {{ nginx.access_log }};
  error_log {{ nginx.error_log }};
  client_max_body_size 20M;
  error_page  404  {{ nginx.error_page_path_404 }};
  error_page  502 503 504  {{ nginx.error_page_path_404 }};

  # Django media
  location /media  {
    alias {{ nginx.media_path }};
  }

  location /static {
    alias {{ nginx.static_path }};
  }

  location / {
    uwsgi_pass django;
    root {{ nginx.location.root }};
    include {{ nginx.location.include }};
  }
}
