<html class="nodebug" itemscope="" itemtype="http://schema.org/Product" lang="de">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">

  <meta content="width=1024" name="viewport">
  <title>Trendsetter</title>
  <link href="//fonts.googleapis.com/css?family=Oxygen:400,700,300" media="screen" rel="stylesheet">
  <link data-turbolinks-track="true" href="/assets/application-16072b2a59f9af0a11578c260544c053.css" media="all"
        rel="stylesheet">
  <script data-turbolinks-track="true" src="/assets/application-bd42292ff8f426a48a216654b9c6ab4c.js"></script>
  <meta content="authenticity_token" name="csrf-param">
  <meta content="CdsaIcphGyWIqhufbB57RgvyaZXMkFegB5w+5tUsj8k=" name="csrf-token">
  <link href="/assets/favicons/favicon-ead83f52ec6d37adee27dcdc8b831b9a.ico" rel="shortcut icon"
        type="image/vnd.microsoft.icon">
  <link href="/assets/favicons/apple-touch-icon-57x57-440a3e1df0791c7ac591c649bbcf8649.png" rel="apple-touch-icon"
        sizes="57x57" type="image/png">
  <link href="/assets/favicons/apple-touch-icon-114x114-6aa6e94c3d31e4cde25704aa8f3dc0e0.png" rel="apple-touch-icon"
        sizes="114x114" type="image/png">
  <link href="/assets/favicons/apple-touch-icon-72x72-7698e5ad61bfe97edb5f9cfb372a47f3.png" rel="apple-touch-icon"
        sizes="72x72" type="image/png">
  <link href="/assets/favicons/apple-touch-icon-144x144-4649c5f8288d0f1b63962969670b6eb3.png" rel="apple-touch-icon"
        sizes="144x144" type="image/png">
  <link href="/assets/favicons/apple-touch-icon-60x60-9d52af39eca42cfe7325ad0bb8b2a127.png" rel="apple-touch-icon"
        sizes="60x60" type="image/png">
  <link href="/assets/favicons/apple-touch-icon-120x120-88565fee6f1a4937a5a98ea9963d8077.png" rel="apple-touch-icon"
        sizes="120x120" type="image/png">
  <link href="/assets/favicons/apple-touch-icon-76x76-9fa8e4589ece733696783f5eb5bea6b4.png" rel="apple-touch-icon"
        sizes="76x76" type="image/png">
  <link href="/assets/favicons/apple-touch-icon-152x152-dcb3a0b4ed1c118098b2ef4336a96609.png" rel="apple-touch-icon"
        sizes="152x152" type="image/png">
  <link href="/assets/favicons/favicon-196x196-97b5f1fc90727dbe468c1a4c7c2fb7bb.png" rel="shortcut icon" sizes="196x196"
        type="image/png">
  <link href="/assets/favicons/favicon-160x160-e05340b88bc6ecc3097e1331a408bc66.png" rel="shortcut icon" sizes="160x160"
        type="image/png">
  <link href="/assets/favicons/favicon-96x96-487bbddf10397714a43dd576b9bde7bc.png" rel="shortcut icon" sizes="96x96"
        type="image/png">
  <link href="/assets/favicons/favicon-16x16-14b9320b9acde8cd56ca1be1e375359a.png" rel="shortcut icon" sizes="16x16"
        type="image/png">
  <link href="/assets/favicons/favicon-32x32-5a387a5702d4c750d2146023a5ce334e.png" rel="shortcut icon" sizes="32x32"
        type="image/png">
  <meta content="#000000" name="msapplication-TileColor">
  <meta content="/assets/favicons/mstile-144x144-af8e64361b863e9b69f697866eeb87d3.png" name="msapplication-TileImage">
  <meta content="/assets/favicons/browserconfig-a19818d190c248ea768e1d9b9e7a82b1.xml" name="msapplication-config">

  <link href="https://plus.google.com/104263993094810252271" rel="publisher">
  <meta content="Trendsetter" itemprop="name">
  <meta
      content="Trendsetter, die neue Online Produkttest-Plattform ist da! Kostenlose Produkttests und Gewinnspiele! Sei dabei: www.trendsetter.eu"
      itemprop="description">
  <meta content="https://www.trendsetter.eu/assets/trendsetter_sm_share-829f2d6bfd4fb457984bb5c5e7f10bdf.png"
        itemprop="image">
  <meta content="Trendsetter" property="og:title">
  <meta content="website" property="og:type">
  <meta content="de_DE" property="og:locale">
  <meta content="Trendsetter" property="og:site_name">
  <meta content="https://www.trendsetter.eu/assets/trendsetter_sm_share-829f2d6bfd4fb457984bb5c5e7f10bdf.png"
        property="og:image">
  <meta
      content="Trendsetter, die neue Online Produkttest-Plattform ist da! Kostenlose Produkttests und Gewinnspiele! Sei dabei: www.trendsetter.eu"
      property="og:description">
  <meta content="100007765833987,100000081178215" property="fb:admins">
  <meta content="449686848467025" property="fb:app_id">

</head>
<body class="s--static p--home" data-twttr-rendered="true">

<header>
  <div class="current-user logged-out">
    <div class="inner">
      Schon Mitglied?
      <a href="/user/login">Einloggen</a>
    </div>
  </div>

  <div class="inner">
    <div id="logo">
      <h1><a href="/">Trendsetter</a></h1>
    </div>
  </div>

  <div class="inner">
    <nav class="main-nav">
      <li><a href="/wie-funktioniert-es">Wie funktioniert’s?</a></li>
      <li><a href="/produkttests">Produkttests</a></li>
      <li><a href="/unsere-marken">Unsere Marken</a></li>
      <li><a href="/ueber-uns">Über uns</a></li>
    </nav>
  </div>

</header>
<section role="content">

  <div class="inner container">
    <div class="row">
      404
    </div>
  </div>

</section>
<footer>

  <div class="social">
    <b>Trendsetter</b>
    © 2014
    &nbsp;●&nbsp; <a href="/faq">FAQ</a>
    &nbsp;●&nbsp; <a href="/agb">AGB</a>
    &nbsp;●&nbsp; <a href="/datenschutz">Datenschutz</a>
    &nbsp;●&nbsp; <a href="/impressum">Impressum</a>
    &nbsp;●&nbsp;
    <strong><a href="/partner-info">Infos für Unternehmen</a></strong>
    <span class="facebook"><a href="https://facebook.com/trendsetter.eu" target="_blank">Facebook</a></span>
    <span class="twitter"><a href="https://twitter.com/TRENDSETTER_eu" target="_blank">Twitter</a></span>
    <span class="gplus"><a href="https://plus.google.com/104263993094810252271" rel="publisher"
                           target="_blank">Google+</a></span>
  </div>
  <div class="coops">
    <span>In Kooperation mit</span>
    <span class="fuersie"><a href="http://fuersie.de/" target="_blank">FürSie</a></span>
    <span class="prinz"><a href="http://prinz.de/" target="_blank">PRINZ</a></span>
    <span class="petra"><a href="http://petra.de/" target="_blank">petra</a></span>
  </div>
</footer>


</body>
</html>