<!DOCTYPE html>
<html class="nodebug" itemscope itemtype="http://schema.org/Product" lang="de">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Trendsetter{% if debug %} - DEBUG{% endif %}{% endblock title %}</title>

  <link hreflang="de" rel="alternate" href="https://www.trendsetter.eu"/>


  <link href="{{ static('app/images/favicons/favicon.ico') }}" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
  <link href="{{ static('app/images/favicons/apple-touch-icon-57x57.png') }}" rel="apple-touch-icon" sizes="57x57"
        type="image/png"/>
  <link href="{{ static('app/images/favicons/apple-touch-icon-72x72.png') }}" rel="apple-touch-icon" sizes="72x72"
        type="image/png"/>
  <link href="{{ static('app/images/favicons/apple-touch-icon-114x114.png') }}" rel="apple-touch-icon" sizes="114x114"
        type="image/png"/>
  <link href="{{ static('app/images/favicons/apple-touch-icon-144x144.png') }}" rel="apple-touch-icon" sizes="144x144"
        type="image/png"/>
  <link href="{{ static('app/images/favicons/apple-touch-icon-60x60.png') }}" rel="apple-touch-icon" sizes="60x60"
        type="image/png"/>
  <link href="{{ static('app/images/favicons/apple-touch-icon-120x120.png') }}" rel="apple-touch-icon" sizes="120x120"
        type="image/png"/>
  <link href="{{ static('app/images/favicons/apple-touch-icon-76x76.png') }}" rel="apple-touch-icon" sizes="76x76"
        type="image/png"/>
  <link href="{{ static('app/images/favicons/apple-touch-icon-152x152.png') }}" rel="apple-touch-icon" sizes="152x152"
        type="image/png"/>
  <link href="{{ static('app/images/favicons/favicon-196x196.png') }}" rel="shortcut icon" sizes="196x196"
        type="image/png"/>
  <link href="{{ static('app/images/favicons/favicon-160x160.png') }}" rel="shortcut icon" sizes="160x160"
        type="image/png"/>
  <link href="{{ static('app/images/favicons/favicon-96x96.png') }}" rel="shortcut icon" sizes="96x96"
        type="image/png"/>
  <link href="{{ static('app/images/favicons/favicon-16x16.png') }}" rel="shortcut icon" sizes="16x16"
        type="image/png"/>
  <link href="{{ static('app/images/favicons/favicon-32x32.png') }}" rel="shortcut icon" sizes="32x32"
        type="image/png"/>

  <meta content="#000000" name="msapplication-TileColor">
  <meta content="{{ static('app/images/favicons/mstile-144x144.png') }}" name="msapplication-TileImage">
  <meta content="{{ static('app/images/favicons/browserconfig.xml') }}" name="msapplication-config">

  <link href="https://plus.google.com/104263993094810252271" rel="publisher">

  <meta content="Trendsetter" itemprop="name">
  <meta
      content="Trendsetter, die neue Online Produkttest-Plattform ist da! Kostenlose Produkttests und Gewinnspiele! Sei dabei: www.trendsetter.eu"
      itemprop="description">
  <meta content="https://www.trendsetter.eu/assets/trendsetter_sm_share-829f2d6bfd4fb457984bb5c5e7f10bdf.png"
        itemprop="image">

  {# Facebook #}
  <meta content="Trendsetter" property="og:title">
  <meta content="website" property="og:type">
  <meta content="de_DE" property="og:locale">
  <meta content="Trendsetter" property="og:site_name">
{#  <meta content='https://www.trendsetter.eu/{{ static('app/images/favicons/trendsetter_sm_share.png') }}' property='og:image'>#}
  <meta
      content="Trendsetter, die neue Online Produkttest-Plattform ist da! Kostenlose Produkttests und Gewinnspiele! Sei dabei: www.trendsetter.eu"
      property="og:description">
  <meta content="100007765833987,100000081178215" property="fb:admins">
  <meta content="449686848467025" property="fb:app_id">


  {% stylesheet 'common' %}
  {% stylesheet 'app' %}


{% if not debug %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50922453-1', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}

</head>

<body class="{% block body_class %}{% endblock %}">

{% if debug %}
    <div style="background-color: red; color: white; text-align: center">Debug</div>
{% endif %}


{% block top_navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            {% block top_navbar_brand %}
            <a class="navbar-brand" href="{{ url('home') }}" alt="trendsetter">
                <img width="190" src="{{ static("app/images/dashboard_logo_header.png") }}" alt="trendsetter"/>
            </a>
            {% endblock %}


        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">


            {% block top_navbar_main_navigation %}
            <ul class="nav navbar-nav">
                <li {% if request.path == url('product_test:index') %}class="active"{% endif %}>
                    <a href="{{ url('product_test:index') }}">Produkttests</a>
                </li>
                <li {% if request.path == url('how_it_works') %}class="active"{% endif %}>
                    <a href="{{ url('how_it_works') }}">Wie funktioniert’s?</a>
                </li>
{#                <li {% if request.path == url('our_brands') %}class="active"{% endif %}>#}
{#                    <a href="{{ url('our_brands') }}">Unsere Marken</a>#}
{#                </li>#}
{#                <li {% if request.path == url('static_page', url='ueber-uns') %}class="active"{% endif %}>#}
{#                    <a href="{{ url('static_page', url='ueber-uns') }}">Über uns</a>#}
{#                </li>#}
            </ul>
            {% endblock %}


            {# user #}
            <ul class="nav navbar-nav navbar-right">

                {% if not user.is_authenticated() %}
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           >
                        Schon Mitglied?
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="login">
{#                              <a href="{{ url('user:login_form') }}">{{ _('Log in') }}</a>#}
                                {% include 'profiles/snippets/login.jinja' %}
                            </li>

                {% else %}

                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           >
                            {{ user.preferred_name }}
                            {% if user.avatar %}
                                <img
                                     alt="Default avatar"
                                     class="user-avatar user-avatar-medium"
                                     src="{{ thumbnail(user.avatar, size=(32, 32)) }}"
                                        />
                            {% else %}
                                <img
                                     class="img-circle user-avatar user-avatar-medium"
                                     src="{{ static('app/images/default_avatar.jpg') }}"
                                        />
                            {% endif %}
                            <span class="caret"></span>

                        </a>
                        <ul class="dropdown-menu">

                            {% if user.is_staff %}
                                <li>
                                    <a href="/admin/">Admin</a>
                                </li>
                            {% endif %}

                            <li>
                                <a href="{{ url('user:index') }}">Meine Seite</a>
                            </li>

                            <li>
                                <a href="{{ url('user:settings') }}">Einstellungen</a>
                            </li>

                            <li>
                                <a href="{{ url('user:logout') }}">Ausloggen</a>
                            </li>

                        </ul>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}


<header class="main">

  {% block main_navigation %}
    {% include 'navigation.jinja' %}
  {% endblock main_navigation %}


  {% block dash_nav %}
  {% endblock dash_nav %}

</header>

{# flash messages #}
{% if messages %}
  <div class="container">
    <div class="row">
    <div class="col-md-24" id="flashes">

        <ul class="messages">
          {% for message in messages %}
            <li class="flash {% if message.tags %}{{ message.tags }}{% endif %}">
{#              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}#}
              {{ message }}
            </li>
          {% endfor %}
        </ul>

    </div>
    </div>
  </div>
{% endif %}

<div id="content" class="container">
<section role="content">
  {% block content %}{% endblock content %}
</section>
</div>


{% include 'footer.jinja' %}


{# javascript #}
{% javascript 'common' %}

{% if messages %}
<script type="text/javascript">
    (function($){
      "strict";

      $(document).ready(function () {

        $('.flash').click(function () {
          $(this).hide('slow');
        });

        $('.flash').delay(5000).hide('slow');

      })
    })(jQuery);

</script>
{% endif %}


{% block javascript %}{% endblock %}


{# json ld #}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://www.trendsetter.eu",
  "logo": "https://www.trendsetter.eu{{ static('app/images/favicons/favicon-196x196.png') }}",
  "sameAs" : [
    "https://www.facebook.com/trendsetter.eu",
    "https://twitter.com/TRENDSETTER_eu",
    "https://plus.google.com/+TrendsetterEu"
  ]
}
</script>

</body>
</html>
