{% extends 'base.jinja' %}

{% block content %}


  <div class="inner container">
    <div class="row">
      <div class="col-md-20 col-md-offset-2">
        <h2>Datenschutzhinweis</h2>

        <div class="legal-notice">
          <p>Datenschutz und Datensicherheit sind uns wichtig. Wir respektieren den Schutz Deiner persönlichen
            Daten.<br>
            Die folgenden Punkte solltest Du bei der Nutzung unseres Angebots beachten:</p>

          <h3>1. Erhebung und Verarbeitung von Daten</h3>

          <p>Jeder Zugriff auf unsere Homepage und jeder Abruf einer auf der Homepage hinterlegten Datei
            werden protokolliert. Die Speicherung dient internen systembezogenen und statistischen Zwecken.
            Protokolliert werden: Name der abgerufenen Datei, Datum und Uhrzeit des Abrufs, übertragene
            Datenmenge, Meldung über erfolgreichen Abruf, Webbrowser und anfragende Domain. Zusätzlich
            werden die IP-Adressen der anfragenden Rechner protokolliert. Weitergehende personenbezogene
            Daten werden nur erfasst, wenn Du diese Angaben freiwillig, etwa im Rahmen einer Bestellung oder
            Registrierung, machst.</p>

          <h3>2. Datenverwendung und -weitergabe</h3>

          <p>Von Dir mitgeteilte personenbezogene Daten, z.B. Dein Name, Deine Anschrift oder Deine
            E-Mail-Adresse, die Du uns beispielsweise bei der Anmeldung oder per E-Mail übermittelst, werden
            nur für den Zweck verarbeitet, zu welchem Du uns die Daten zur Verfügung gestellt hast, sowie
            zur Korrespondenz mit Dir. Bitte beachte, dass wir über unsere E-Mails zu Produkttests aufrufen
            und darüber die Zusage-Tickets zu Produkttests versendet werden. Du kannst deine Einwilligung in
            den Empfang der entsprechenden Benachrichtigungen jederzeit per E-Mail an <a
                    href="mailto:info@trendsetter.eu">info@trendsetter.eu</a> widerrufen oder einen
            entsprechenden Link in jeder E-Mail anklicken. Allerdings ist dann die Nutzung des Angebots nur
            noch eingeschränkt möglich, weil Du die entsprechenden Benachrichtigungen nicht mehr erhältst.
            Der E-Mail-Versand erfolgt nur durch uns.</p>

          <p>Deine personenbezogenen Daten werden nur dann an Dritte weitergegeben, sofern Du ausgewählt
            wurdest, dessen Produkte zu testen. Deine Anschrift wird zudem zur Übersendung der Produkte dem
            beauftragten Logistikunternehmen weitergeleitet. Deine personenbezogenen Daten werden in anderen
            als den oben beschriebenen Fällen nicht an Dritte weitergegeben, außer wir wären gesetzlich dazu
            verpflichtet oder Du hättest uns vorher Dein Einverständnis gegeben. In Fällen, bei denen wir
            für die Durchführung und Abwicklung von Verarbeitungsprozessen Dienstleister beanspruchen,
            regeln die Bestimmungen des Bundesdatenschutzgesetzes die Vertragsverhältnisse.</p>

          <h3>3. Einwilligung und Widerruf</h3>

          <p>Deine personenbezogenen Daten auf unserer Plattform kannst Du jederzeit löschen. Nicht berührt
            von einer Kündigung, einem Widerruf und einer Löschung sind Daten, die für abrechnungs- oder
            buchhalterische Zwecke genutzt werden.</p>

          <h3>4. Speicherdauer</h3>

          <p>Wir speichern Deine personenbezogenen Daten, die Du uns über die Plattform übermittelt hast, so
            lange, bis der Zweck erfüllt ist, zu welchem sie uns anvertraut wurden. Die Speicherdauer
            gewisser Daten kann je nach Beachtung der handels- und steuerrechtlichen Aufbewahrungsfristen
            bis zu 10 Jahre betragen.</p>

          <h3>5. Benutzerkonto</h3>

          <p>Mit Deiner Registrierung bestätigst Du, dass Bestandsdaten (Name, Adresse, Alter, Geschlecht,
            E-Mail-Adresse sowie Nutzungsdaten wie Benutzername und Passwort) gespeichert werden. Durch
            Eingabe Deines Nutzernamens und Passwortes hast Du die Möglichkeit Dein persönliches Konto auf
            unserer Plattform zu nutzen.</p>

          <h3>6. Verwendung von Cookies</h3>

          <p>Cookies werden eingesetzt, um das Angebot unserer Plattform nutzen zu können. Dafür musst Du
            sicherstellen, dass die Cookies in Deinen Browsereinstellungen aktiviert sind. Der Cookie wird
            genutzt, um einen zufällig generierten Session-Code und gegebenenfalls Deine User-ID zu
            speichern. So kannst Du als registrierter Nutzer erkannt werden. Dafür musst Du sicherstellen,
            dass die Cookies in Deinen Browsereinstellungen aktiviert sind.</p>

          <h3>7. Sammlung, Analyse und Nutzung von sonstigen Informationen</h3>

          <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google
            Analytics verwendet sog. „Cookies“, Textdateien, die auf Deinem Computer gespeichert werden und
            die eine Analyse der Benutzung der Website durch Dich ermöglichen. Die durch den Cookie
            erzeugten Informationen über Deine Benutzung dieser Website werden in der Regel an einen Server
            von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der
            IP-Anonymisierung auf dieser Webseite, wird Deine IP-Adresse von Google jedoch innerhalb von
            Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den
            Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an
            einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser
            Website wird Google diese Informationen benutzen, um Deine Nutzung der Website auszuwerten, um
            Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und
            der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die
            im Rahmen von Google Analytics von Deinem Browser übermittelte IP-Adresse wird nicht mit anderen
            Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine
            entsprechende Einstellung Deiner Browser-Software verhindern; wir weisen Dich jedoch darauf hin,
            dass Du in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich
            werden nutzen können. Du kannst darüber hinaus die Erfassung der durch das Cookie erzeugten und
            auf Deine Nutzung der Website bezogenen Daten (inkl. Deine IP-Adresse) an Google sowie die
            Verarbeitung dieser Daten durch Google verhindern, indem Du das <a
                    href="https://tools.google.com/dlpage/gaoptout?hl=de">Browser-Plugin</a> herunterlädst
            und installierst. Nähere Informationen und Einstellungsmöglichkeiten zum Schutz Deiner
            Privatssphäre entnimmst Du bitte den Datenschutzhinweisen von Google. Wir weisen Dich darauf
            hin, dass auf dieser Webseite Google Analytics um den Code „_anonymizeIp();“ erweitert wurde, um
            eine anonymisierte Erfassung von IP-Adressen (sog. IP-Masking) zu gewährleisten.</p>

          <h3>8. Verwendung von Social Plugins</h3>

          <p>Unser Internetauftritt verwendet Social Plugins (“Plugins”) des sozialen Netzwerkes facebook.com
            (“Facebook”), welches von der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA
            betrieben wird, twitter.com („Twitter“), welches von der Twitter Inc., 795 Folsom Street, Suite
            600, San Francisco, CA 94107, USA betrieben wird sowie Plugins des sozialen online Netzwerkes
            plus.google.com (Google+), welches von der Google Inc., 1600 Amphitheatre Parkway, Mountain
            View, California 94043, USA betrieben wird, alle nachfolgend „Betreiber“ genannt. Wenn Du eine
            Webseite unseres Internetauftritts aufrufst, die ein solches Plugin enthält, baut Dein Browser
            eine direkte Verbindung mit den Servern der genannten Social Plugins auf. Der Inhalt der Plugins
            wird von den Betreibern direkt an Deinen Browser übermittelt und von diesem in die Webseite
            eingebunden. Durch die Einbindung der Plugins erhält der Betreiber die Information, dass Du die
            entsprechende Seite unseres Internetauftritts aufgerufen hast. Bist Du bei dem Betreiber
            eingeloggt, kann der Betreiber den Besuch Deinem jeweiligen Nutzer-Konto zuordnen. Wenn Du mit
            den Plugins interagierst, zum Beispiel den “Gefällt mir”-Button betätigst oder einen Kommentar
            abgibst, wird die entsprechende Information von Deinem Browser direkt an Betreiber übermittelt
            und dort gespeichert. Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und
            Nutzung der Daten durch den Betreiber sowie Deine diesbezüglichen Rechte und
            Einstellungsmöglichkeiten zum Schutz Deiner Privatsphäre entnimmst Du bitte den
            Datenschutzhinweisen von <a href="http://www.facebook.com/about/privacy/">Facebook</a>, <a
                    href="https://twitter.com/privacy">Twitter</a> und <a
                    href="http://www.google.com/policies/privacy/">Google+</a>.</p>

          <h3>9. Abschließende Hinweise</h3>

          <p>Durch die Weiterentwicklung unserer Webseite oder die Implementierung neuer Technologien kann es
            notwendig werden, diese Datenschutzerklärung zu ändern. Wir behalten uns vor, die
            Datenschutzerklärung jederzeit mit Wirkung für die Zukunft zu ändern. Wir empfehlen Dir, die
            aktuelle Datenschutzerklärung von Zeit zu Zeit erneut durchzulesen.</p>

          <p>Sicherheitshinweis: Wir sind bemüht, Deine personenbezogenen Daten durch Ergreifung aller
            technischen und organisatorischen Möglichkeiten so zu speichern, dass sie für Dritte nicht
            zugänglich sind. Bei der Kommunikation per E-Mail kann die vollständige Datensicherheit aber
            nicht gewährleistet werden, sodass wir Dir bei vertraulichen Informationen den Postweg
            empfehlen.</p>

          <h3>10. Deine Rechte, Auskunft</h3>

          <p>Im Falle, dass Du die Speicherung Deiner personenbezogenen Daten nicht mehr billigst oder die
            Daten fehlerhaft sind, kannst Du per E-Mail an info@trendsetter.eu die Löschung bzw. Sperrung
            Deiner Daten oder Korrekturen veranlassen (vorausgesetzt dies ist nach geltendem Recht möglich).
            Wenn Du in Erfahrung bringen möchtest, welche Daten erhoben, verarbeitet oder genutzt werden
            sowie bei Fragen zur Korrektur, Löschung oder Sperrung Deines Accounts wende Dich gerne an <a
                    href="mailto:info@trendsetter.eu">info@trendsetter.eu</a>.</p>

        </div>
      </div>
    </div>

  </div>


{% endblock content %}