<footer>
  <div class='reference'>
    <span>Referenzen</span>
    {% autoescape off %}
    {{ stickers(identifier='referenzen') }}
    {% endautoescape %}
  </div>
  <div class='social'>
    <b>Trendsetter</b>
    © {{ now().strftime('%Y') }}
    &nbsp;●&nbsp; <a href="/faq/">FAQ</a>
    &nbsp;●&nbsp; <a href="/agb/">AGB</a>
    &nbsp;●&nbsp; <a href="/teilnahmebedingungen/">Teilnahmebedingungen</a>
    &nbsp;●&nbsp; <a href="/datenschutz/">Datenschutz</a>
    &nbsp;●&nbsp; <strong><a href="/partner-info/">Infos für Unternehmen</a></strong>
{#    &nbsp;●&nbsp; <a href="{{ url('impressum') }}">Impressum</a>&nbsp;●&nbsp; <a href="{{ url('faq') }}">FAQ</a>#}
{#    &nbsp;●&nbsp; <a href="{{ url('agb') }}">AGB</a>#}
{#    &nbsp;●&nbsp; <a href="{{ url('eligibility_requirements') }}">Teilnahmebedingungen</a>#}
{#    &nbsp;●&nbsp; <a href="{{ url('datenschutz') }}">Datenschutz</a>#}
{#    &nbsp;●&nbsp; <a href="{{ url('impressum') }}">Impressum</a>#}
{#    &nbsp;●&nbsp; <strong><a href="{{ url('partner_info') }}">Infos für Unternehmen</a></strong>#}
    <span class='facebook'><a href="https://facebook.com/trendsetter.eu" target="_blank">Facebook</a></span>
    <span class='twitter'><a href="https://twitter.com/TRENDSETTER_eu" target="_blank">Twitter</a></span>
    <span class='gplus'>
      <a href="https://plus.google.com/104263993094810252271" rel="publisher" target="_blank">Google+</a>
    </span>
  </div>
  <div class='coops'>
    <span>In Kooperation mit</span>
    <span class='fuersie'><a href="http://fuersie.de/" target="_blank">FürSie</a></span>
    <span class='prinz'><a href="http://prinz.de/" target="_blank">PRINZ</a></span>
    <span class='petra'><a href="http://petra.de/" target="_blank">petra</a></span>
  </div>
</footer>