<header>

  <div class='current-user logged-in'>
    <div class='inner'>
      <a href="{{ url('profile_tests') }}">
        <img
                align="right"
                alt="Default avatar"
                class="user-avatar user-avatar-medium"
                src="{{ static('app/images/default_avatar.jpg') }}"
                />
      </a>
      Hallo, {{ request.user }}!
      <br>
      {% if request.user.is_staff %}
        <a href="/admin/">Admin</a>
        |
      {% endif %}
      <a href="{{ url('profile_index') }}">Meine Seite</a>
      |
      <a href="{{ url('profile_settings') }}">Einstellungen</a>
      |
      <a href="{{ url('logout') }}">Ausloggen</a>
    </div>
  </div>

  <div class='inner'>
    <div id='logo'>
      <h1><a href="{{ url('home') }}">Trendsetter</a></h1>
    </div>
  </div>
  <div class='inner'>
    <nav class='main-nav'>
      <li><a href="{{ url('how_it_works') }}">Wie funktioniert’s?</a></li>
      <li><a href="{{ url('product_test_index') }}">Produkttests</a></li>
      <li><a href="{{ url('our_brands') }}">Unsere Marken</a></li>
      <li><a href="{{ url('about_us') }}">Über uns</a></li>
    </nav>
  </div>

</header>
