{% extends 'base.jinja' %}

{% block content %}

<div class='inner container'>
  <div class='row'>
    <div class='col-md-18'>
      {% autoescape off %}
      {{ content }}
      {% endautoescape %}

    </div>

    <div class='sidebar col-md-6'>
      <div class='box highlight inverse register-box'>
        {% if user.is_authenticated() %}
        <p class='bigger'>Produkte testen und Trends setzen.</p>

        <p class='bigger'>
          <strong>Du bist dabei!</strong>
        </p>

        <p>
          Jetzt kannst Du Deine
          <a href="{{ url('user:invite_friends') }}">Freunde einladen</a>
          und dafür Trendpoints verdienen, die Du dann gegen interessante Prämien eintauschen kannst.
        </p>
        {% else %}
        <p class="bigger">Produkte testen und Trends setzen.</p>

        <p class="bigger">
          <strong>Mach jetzt mit!</strong>
        </p>

        <form accept-charset="UTF-8"
              action="{{ url('user:register') }}" class="new_user" id="new_user"
              method="post">
          {% csrf_token %}
          <div class="form-group">
            <input
                class="form-control"
                name="{{ register_form.email.name }}"
                placeholder="{{ register_form.email.label }}"
                maxlength="254"
                type="email">
          </div>
          <div class="form-group">
            <div class="">
              <div class="checkbox">
                <label>
                  <input id="id_accept_terms_of_use" name="accept_terms_of_use" type="checkbox">
                  <span>Ich akzeptiere die Nutzungs- und Teilnahmebedingungen</span>
                </label>
              </div>
            </div>
          </div>
{#          @todo: put this css out of this file#}
          <input class="btn btn-invert btn-block btn-block-big" name="commit" type="submit"
                 value="Jetzt registrieren" style="background-color: #000000; color: whitesmoke; -webkit-font-smoothing: subpixel-antialiased"
          >
        </form>
        {% endif %}
      </div>

      <p class="register-raffle-teaser">
      </p>

      {% if not user.is_authenticated() %}
        <div class="box login-box">
          <p class="big">
            Schon Mitglied?
            <strong>Log Dich ein!</strong>
          </p>

          <form accept-charset="UTF-8" action="{{ url('user:login') }}" class="new_user" id="new_user"
                method="post">
            {% csrf_token %}
            <div class="form-group">
              <label class="sr-only control-label" for="user_email">Email</label>
              <input class="form-control"
                     id="user_email"
                     name="user[email]"
                     placeholder="E-Mail-Adresse"
                     type="text">
            </div>
            <div class="form-group">
              <label class="sr-only control-label" for="password">Password</label>
              <input class="form-control"
                     id="user_password" name="user[password]" placeholder="Passwort"
                     type="password">
            </div>
            <input class="btn btn-primary btn-block" name="commit" type="submit" value="Log Dich ein">
          </form>

        </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}