<div class="container">
    <div class="row">
        <div id="logo"
             class="col-md-24"
             {% if product_test and product_test.brand and product_test.brand.logo_top %}style="background: url({{ thumbnail(product_test.brand.logo_top, size=(280, 280)) }}) no-repeat 0 18px"{% endif %}
            >
            <a href="{{ url('home') }}">
                <h1>

                    <img src="{{ static("app/images/shared/logo.png") }}" alt="trendsetter"/>

                </h1>
            </a>
        </div>
    </div>
</div>

<div class="main-nav">
    <div class="container">
        <div class="row">
            <nav>
                <ul class="col-md-24">
                    <li {% if request.path == url('product_test:index') %}class="active"{% endif %}>
                        <a href="{{ url('product_test:index') }}">Produkttests</a>
                    </li>
                    <li {% if request.path == url('how_it_works') %}class="active"{% endif %}>
                        <a href="{{ url('how_it_works') }}">Wie funktioniert’s?</a>
                    </li>
                    <li {% if request.path == url('our_brands') %}class="active"{% endif %}>
                        <a href="{{ url('our_brands') }}">Unsere Marken</a>
                    </li>
                    <li {% if request.path == url('static_page', url='ueber-uns') %}class="active"{% endif %}>
                        <a href="{{ url('static_page', url='ueber-uns') }}">Über uns</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>