{% extends 'base.jinja' %}

{% block content %}

    <div class="inner container">
        <script type="text/javascript">
            $(document).ready(function () {
                $('.flash').click(function (e) {
                    $(this).hide('slow');
                });
            });
        </script>
        <div id="flashes">
            <div class="inner">
            </div>
        </div>

    </div>

    <div class="inner container">
        <div class="row">
            <div class="col-md-20 col-md-offset-2">
                <h2>Über Trendsetter</h2>

                <p>Trendsetter bietet Unternehmen die Möglichkeit, das hocheffektive Instrument Mundpropaganda in Form
                    crossmedialer Word of Mouth-Kampagnen zu nutzen.<br><br>
                    Dazu vereinen wir unter Trendsetter die Empfehlungsmarketingplattformen der reichweitenstarken
                    Marken <strong>Für Sie</strong>, <strong>petra</strong> und <strong>PRINZ</strong>. </p>

                <p>Jede WoM-Kampagne findet in Kooperation mit der gewünschten Marke statt und richtet sich an die
                    präferierte Zielgruppe oder wahlweise auch an die gesamte Trendsetter-Community aller
                    Trendsetter-Marken.<br><br>
                    Trendsetter erreicht Ihre Wunsch-Zielgruppe dabei auf allen Kanälen (Print, Online, Mobile und in
                    Sozialen Netzwerken) und rückt Ihr Produkt in den Mittelpunkt der Diskussion.<br><br>
                    So kombinieren wir die Aufmerksamkeit durch reichweitenstarke Crossmedia-Kampagnen mit der
                    Glaubwürdigkeit der persönlichen Empfehlungen von Lesern und Usern unserer Marken und machen damit
                    unsere Trendsetter zu Ihren Markenbotschaftern! </p>

                <p>Sie möchten nähere Informationen zu unseren Leistungen?<br><br>
                    Gerne stellen wir Ihnen ein auf Ihre Ziele und Wünsche maßgeschneidertes Angebot zusammen.<br><br>
                    <a class="btn btn-primary" href="mailto:claudia.thiede@trendsetter.eu">Wir freuen uns über eine
                        Nachricht von Ihnen!</a></p>

            </div>
        </div>

    </div>

{% endblock content %}