{% extends 'base.jinja' %}

{% block body_class %}s--users p--trendpoints reduced-header user-dashboard{% endblock %}

{% block main_navigation %}
{% include 'profiles/navigation.jinja' %}
{% endblock main_navigation %}


{% block content %}

    <div class="container">

        {% block profile_content %}{% endblock profile_content %}

    </div>

{% endblock content %}
