{% extends 'base.jinja' %}

{% block body_class %}s--users p--trendpoints reduced-header user-dashboard{% endblock %}

{% block user_panel %}{% endblock %}

{% block main_navigation %}
    {% include 'navigation_reduced.jinja' %}
{% endblock %}


{% block dash_nav %}
    {% include 'profiles/navigation.jinja' %}
{% endblock dash_nav %}

{% block content %}

    <div class="container">

        {% block profile_content %}{% endblock profile_content %}

    </div>

{% endblock content %}
