{% extends 'base.jinja' %}

{% block content %}

<div class="inner container">
  <div class="box login col-md-12 col-md-offset-6">
    <h2>Anmelden</h2>

    <form accept-charset="UTF-8" action="{{ url('user:login') }}" class="new_user" id="new_user" method="post">
      {% csrf_token %}
      <div class="form-group"><label class="sr-only control-label" for="user_email">Email</label>
        <input class="form-control" id="user_email" name="user[email]" placeholder="Deine E-Mail-Adresse" type="text">
      </div>
      <div class="form-group">
        <label class="sr-only control-label" for="user_password">Password</label>
        <input class="form-control" id="user_password" name="user[password]" placeholder="Dein Passwort" type="password">
      </div>
      <div class="form-group">
        <input class="btn btn-primary" inline="true" name="commit" type="submit" value="Anmelden">
        <a class="btn" href="/user/register">Noch nicht registriert?</a>
        <a class="btn" href="/user/prereg">Schon vorregistriert?</a>
      </div>
      <div class="form-group">
        <a href="{{ url('password_forgot') }}">Passwort vergessen?</a>
      </div>
    </form>

  </div>

</div>
{% endblock %}