{% extends 'profiles/base.jinja' %}

{% block profile_content %}

    <div class="inner container">
        <script type="text/javascript">
            $(document).ready(function () {
                $('.flash').click(function (e) {
                    $(this).hide('slow');
                });
            });
        </script>
        <div id="flashes">
            <div class="inner">
            </div>
        </div>

    </div>

    <div class="inner container">

        <!-- %h2 Meine Trendpoints -->
        <div class="row">
            <div class="col-md-14 col-md-offset-5">
                <div class="trendpoints">
                    <span>5</span>
                </div>
                <div class="goodies-list">
                    <div class="goodie">
                        <div class="goodie-img">
                            <a class="js-open-in-overlay"
                               href="/assets/trendpunkte_praemie_schal_vergroessert-a3f6c903884f7d10dad8559c56e93828.jpg">
                                <img
                                    alt="Trendpunkte praemie schal"
                                    src="/assets/trendpunkte_praemie_schal-bf2c52d1963dab19225a42844e3d0626.jpg">
                            </a>
                        </div>
                        <div class="goodie-name">Loop-Schal „Sterne“</div>
                        <div class="goodie-cost">
                            <span>75</span>
                        </div>
                        <div class="goodie-action">
                            <a class="btn btn-primary" href="/user/trendpoints/praemie/1">Jetzt anfordern</a>
                        </div>
                    </div>
                    <div class="goodie">
                        <div class="goodie-img">
                            <a class="js-open-in-overlay"
                               href="/assets/trendpunkte_praemie_armband_vergroessert-f3fc2b3b7cf944c1a05d483a697c9859.jpg"><img
                                    alt="Trendpunkte praemie armband"
                                    src="/assets/trendpunkte_praemie_armband-80839adc1f6ac6a173ad3fbe8683f925.jpg"></a>
                        </div>
                        <div class="goodie-name">Wickelarmband</div>
                        <div class="goodie-cost">
                            <span>100</span>
                        </div>
                        <div class="goodie-action">
                            <a class="btn btn-primary" href="/user/trendpoints/praemie/2">Jetzt anfordern</a>
                        </div>
                    </div>
                    <div class="goodie">
                        <div class="goodie-img">
                            <a class="js-open-in-overlay"
                               href="/assets/trendpunkte_praemie_tasche_vergroessert-8645b79c43d43c7dcf001456aa3ca059.jpg"><img
                                    alt="Trendpunkte praemie tasche"
                                    src="/assets/trendpunkte_praemie_tasche-e0bfedf66eb535efea150adcfddec222.jpg"></a>
                        </div>
                        <div class="goodie-name">PICARD Geldbörse</div>
                        <div class="goodie-cost">
                            <span>150</span>
                        </div>
                        <div class="goodie-action">
                            <a class="btn btn-primary" href="/user/trendpoints/praemie/3">Jetzt anfordern</a>
                        </div>
                    </div>
                </div>
                <div class="how-to-earn">
                    <h4>Wie verdiene ich Trendpoints?</h4>
                </div>
                <div class="reward-list">
                    <div class="reward">
                        <div class="reward-title">Anmelden</div>
                        <div class="reward-points">
                            <span>5</span>
                        </div>
                    </div>
                    <div class="reward">
                        <div class="reward-title">
                            <a href="/user/freunde-einladen">Freunde einladen</a>
                        </div>
                        <div class="reward-points">
                            <span>5</span>
                        </div>
                    </div>
                    <!-- .reward -->
                    <!-- .reward-title Vollständig ausgefüllte Themenumfrage -->
                    <!-- .reward-points -->
                    <!-- %span 10 -->
                    <div class="reward">
                        <div class="reward-title">
                            Teilnahme an einem Produkttest
                            <br>
                            <small>inkl. Ausfüllen des Bewerbungs- und Abschlussfragebogens</small>
                        </div>
                        <div class="reward-points">
                            <span>20</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock profile_content %}