{% extends 'base.jinja' %}

{% block content %}

<div class="page-nav">
    <h2>
        <a href="http://www.proplan-katze.de/?utm_source=trendsetter&amp;utm_medium=test&amp;utm_content=campaign_logo&amp;utm_campaign=purina-proplan-katze">
            <img
                alt="PRO PLAN DELICATE: Das hochwertige Trockenfutter für Deine Katze"
                src="/media/purina/produkttest_purina_navlogo.png">
        </a>
    </h2>
    <ul>
        <li class="active page-nav-info">
            <a href="{{ url('product_test_info') }}">Info</a>
        </li>
        <li class="page-nav-forum">
            <a href="{{ url('product_test_forum') }}">Forum</a>
        </li>
        <li class="page-nav-gallery">
            <a href="{{ url('product_test_gallery') }}">Galerie</a>
        </li>
        <li class="page-nav-faq">
            <a href="{{ url('product_test_faq') }}">FAQ</a>
        </li>
    </ul>
</div>

{% block product_test_content %}{% endblock %}

{% block endcontent %}