{% extends 'base.jinja' %}

{% block title %}{{ product_test.title }}{% endblock title %}

{% block body_class %}s--tests p--show reduced-header{% endblock %}


{% block main_navigation %}
    {% include 'navigation_reduced.jinja' %}
{% endblock %}


{% block content %}

  <style>{{ product_test.custom_css }}</style>

  <div id="ptw" class="container">

    {% if product_test.hero_image %}
      <div class="row">
        <img class="img-responsive" alt="{{ product_test.title }}" src="{{ product_test.hero_image.url }}">
      </div>
    {% endif %}

    <div class="row">
      <div class="col-md-24">

        <nav class="page-nav">
          {% if product_test.logo %}
            <h2>
              <a href="{{ url('product_test:info', slug=product_test.slug) }}">
                <img
                    alt="{{ product_test.title }}"
                    src="{{ thumbnail(product_test.logo, size=(232, 52)) }}">
              </a>
            </h2>
          {% endif %}

          <ul>
            {% if test_result %}
            <li class="page-nav-result{% if request.path == url('product_test:result', slug=product_test.slug) %} active{% endif %}">
              <a href="{{ url('product_test:result', slug=product_test.slug) }}">Ergebnisse</a>
            </li>
            {% endif %}

            {% if product_test.display_completion_survey(request.user) %}
                <li class="page-nav-info{% if request.path == url('product_test:surveys:completion', slug=product_test.slug) %} active{% endif %}">
                  <a href="{{ url('product_test:surveys:completion', slug=product_test.slug) }}">Abschlussumfrage</a>
                </li>
            {% endif %}
            {% if product_test.display_application_survey(request.user) %}
              <li class="page-nav-info{% if request.path == url('product_test:surveys:application', slug=product_test.slug) %} active{% endif %}">
                <a href="{{ url('product_test:surveys:application', slug=product_test.slug) }}">Bewerbung</a>
              </li>
            {% endif %}

            <li class="page-nav-info{% if request.path == url('product_test:info', slug=product_test.slug) %} active{% endif %}">
              <a href="{{ url('product_test:info', slug=product_test.slug) }}">Info</a>
            </li>

            {% if product_test.forum.state == 'published' or (product_test.forum.state == 'preview' and request.user.is_staff) %}
            <li class="page-nav-forum{% if request.path == url('product_test:forum:forum-detail', slug=product_test.slug) %} active{% endif %}">
              <a href="{{ url('product_test:forum:forum-detail', slug=product_test.slug) }}">Forum</a>
            </li>
            {% endif %}

            {% if product_test.gallery.state == 'published' or (product_test.gallery.state == 'preview' and request.user.is_staff) %}
            <li class="page-nav-gallery{% if request.path == url('product_test:gallery:index', slug=product_test.slug) %} active{% endif %}">
                <a href="{{ url('product_test:gallery:index', slug=product_test.slug) }}">Galerie</a>
            </li>
            {% endif %}

            {% if product_test.faq.state == 'published' or (product_test.faq.state == 'preview' and request.user.is_staff) %}
            <li class="page-nav-faq{% if request.path == url('product_test:faq', slug=product_test.slug) %} active{% endif %}">
              <a href="{{ url('product_test:faq', slug=product_test.slug) }}">FAQ</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>

    <div class="row">
      {% block product_test_content %}{% endblock %}
    </div>

  </div>
{% endblock content %}
