{% extends 'base.jinja' %}

{% block body_class %}s--tests p--show reduced-header{% endblock %}

{% block content %}

  <style>{{ product_test.custom_css }}</style>

  <div class="container">
    <div class="row">
      <div class="col-md-21 col-md-offset-1">
        <div class="info" id="ptw">
          <img alt="Produkttest purina header" src="{{ thumbnail(product_test.hero_image, size=(950, 250)) }}">

          <div class="page-nav">
            <h2>
              <a href="http://www.proplan-katze.de/?utm_source=trendsetter&amp;utm_medium=test&amp;utm_content=campaign_logo&amp;utm_campaign=purina-proplan-katze">
                <img
                    alt="{{ product_test.title }}"
                    src="{{ thumbnail(product_test.logo, size=(232, 52)) }}">
              </a>
            </h2>

            <ul>
              <li class="active page-nav-info">
                <a href="{{ url('product_test:info', slug=product_test.slug) }}">Info</a>
              </li>

              <li class="page-nav-forum">
                <a href="{{ url('product_test:forum:forum-detail', slug=product_test.slug) }}">Forum</a>
              </li>
              <li class="page-nav-gallery">
                <a href="{{ url('product_test:gallery', slug=product_test.slug) }}">Galerie</a>
              </li>
              <li class="page-nav-faq">
                <a href="{{ url('product_test:faq', slug=product_test.slug) }}">FAQ</a>
              </li>
            </ul>
          </div>

          {% block product_test_content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}