{% extends 'base.jinja' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Unsere Produkttests auf einen Blick</h2>

        {% for brand in brands %}
          <div class="row">
            <div class="col-md-12">
              <div class="brand-fuersie test-tile">

                <h3 class="test-title">
                  <a href="{{ brand.get_absolute_url() }}">
                    {{ brand.title }}
                  </a>
                </h3>

              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}