{% extends 'product_test/base.jinja' %}

{% block title %}{{ super() }} - FAQ{% endblock title %}

{% block product_test_content %}
<div id="Faq">
  <div class="forum-header">
    <h4>
        {% if product_test.faq.name %}
            {{ product_test.faq.name|safe }}
        {% else %}
            FAQ
        {% endif %}
    </h4>
    <p>{{ product_test.faq.text|safe }}</p>
  </div>
  <ol>
    {% for entry in product_test.faq.faqentry_set.all() %}

    <li class="faq-entry">
      <h4>
          {{ entry.question|safe }}
      </h4>

      <p>{% autoescape off %}{{ entry.answer.replace('\n', '<br>') }}{% endautoescape %}</p>
    </li>
    {% endfor %}
  </ol>
</div>
{% endblock %}