{% extends 'product_test/base.jinja' %}

{% block product_test_content %}

<div class="forum-header">
    <h4>Hier kannst Du uns von Deinen Eindrücken und Erfahrungen berichten</h4>
</div>

{% endblock %}