{% extends 'product_test/base.jinja' %}

{% block product_test_content %}
<div class="forum-header">
  <p>
    Hier kannst Du Deine Fotos und Videos aus der Trendsetter-Aktion
    <span>{{ product_test.title }}</span>
    hochladen
  </p>
</div>
<div>
  <h4>Hochgeladene Bilder</h4>
  <hr/>
  <div class="row">
    {% for image in product_test.gallery.images.all() %}
      <div class="col-md-4 col-sm-6" align="center">
        <a class="thumbnail" href="{{ image.file.url }}">
          <img class="img-responsive" src="{{ thumbnail(image.file, size=(165, 165), crop=True) }}"/>
          <small>
            {{ image.owner.preferred_name }}
          </small>
        </a>
      </div>

    {% endfor %}
  </div>

  {% if not user.is_authenticated() %}
  <div class="forum-not-logged-in">
    <p>
      <a href="{{ url('user:login_form') }}">Log Dich ein</a>, um einen Beitrag zu verfassen.
    </p>
  </div>
  {% else %}
  <hr/>
  <form
      action="{{ url('product_test:gallery:image_upload', slug=product_test.slug) }}"
      method="post"
      enctype="multipart/form-data">
    {% csrf_token %}
    {% autoescape off %}
    {{ image_upload_form|bootstrap }}
    {% endautoescape %}
    <input class="btn btn-primary" value="Bild hochladen" type="submit"/>
  </form>
  {% endif %}

  {#  <h4>Hochgeladene Videos</h4>#}
  {##}
  {#    {% for video in product_test.gallery.videos.all() %}#}
  {#        Video#}
  {#    {% endfor %}#}
  {##}
  {#  <form action="{{ url('product_test:gallery:video_upload', slug=product_test.slug) }}" method="post">#}
  {#    {% csrf_token %}#}
  {#    {% autoescape off %}#}
  {#    {{ video_upload_form|bootstrap }}#}
  {#    {% endautoescape %}#}
  {#    <input type="submit"/>#}
  {#  </form>#}
</div>
{% endblock %}