{% extends 'product_test/base.jinja' %}

{% block product_test_content %}
  <p style="background-color: #eaeaea; font-weight: bold; padding: 5px">
    Hier kannst Du Deine Fotos und Videos aus der Trendsetter-Aktion
    <span>PRO PLAN DELICATE: Das hochwertige Trockenfutter für Deine Katze</span>
    hochladen
  </p>

  <h4>Hochgeladene Bilder</h4>

  <h4>Hochgeladene Videos</h4>

{% endblock %}