{% extends 'product_test/base.jinja' %}

{% block title %}{{ super() }} - Galerie{% endblock title %}

{% block javascript %}
  <script type="text/javascript" src="{{ static('jquery-lazy/jquery.lazy.min.js') }}"></script>
  <script>
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    });
    jQuery(document).ready(function() {
        jQuery("a.thumbnail img").Lazy();
    });
  </script>
{% endblock javascript %}


{% block product_test_content %}
{% if product_test.gallery.description %}
  <div class="forum-header">
    <h4>
      {{ product_test.gallery.description }}
    </h4>
  </div>
{% endif %}

{% if not user.is_authenticated() %}
  <div class="forum-not-logged-in">
    <p>
      <a href="{{ url('user:login_form') }}">Log Dich ein</a>, um Bilder hochzuladen.
    </p>
  </div>
{% endif %}

<div>
  <h4>Hochgeladene Bilder</h4>
  <hr/>
  <div class="row">
    {% for image in product_test.gallery.images.all() %}
      <div class="col-md-4 col-sm-6 image-wrapper" align="center">
        <a class="thumbnail" datatype="image" data-toggle="lightbox" data-gallery="multiimages" data-parent="document.body" data-title="{{ image.title }}" data-footer="{{ image.description|linebreaks }}"
           href="{{ thumbnail(image.file, size=(800, 800)) }}">
          <img class="img-responsive" src="{{ thumbnail(image.file, size=(165, 165), crop=True) }}"/>
          <small>
            {{ image.owner.preferred_name }}
          </small>
          {% if user.is_superuser or user == image.owner %}
            <a class="delete-gallery-image" href="{{ url('product_test:gallery:delete_image', slug=product_test.slug, image_id=image.id) }}">X</a>
          {% endif %}
        </a>
      </div>

    {% endfor %}
  </div>

  {% if not user.is_authenticated() %}
  <div class="forum-not-logged-in">
    <p>
      <a href="{{ url('user:login_form') }}">Log Dich ein</a>, um Bilder hochzuladen.
    </p>
  </div>
  {% else %}
  <hr/>
  <form
      action="{{ url('product_test:gallery:image_upload', slug=product_test.slug) }}"
      method="post"
      enctype="multipart/form-data">
    {% csrf_token %}
    {% autoescape off %}
    {{ image_upload_form|bootstrap }}
    {% endautoescape %}
    <input class="btn btn-default" value="Bild hochladen" type="submit"/>
  </form>
  {% endif %}

  {#  <h4>Hochgeladene Videos</h4>#}
  {##}
  {#    {% for video in product_test.gallery.videos.all() %}#}
  {#        Video#}
  {#    {% endfor %}#}
  {##}
  {#  <form action="{{ url('product_test:gallery:video_upload', slug=product_test.slug) }}" method="post">#}
  {#    {% csrf_token %}#}
  {#    {% autoescape off %}#}
  {#    {{ video_upload_form|bootstrap }}#}
  {#    {% endautoescape %}#}
  {#    <input type="submit"/>#}
  {#  </form>#}
</div>
{% endblock %}
