{% extends 'base.jinja' %}

{% block content %}

    <h2>Unsere Produkttests auf einen Blick</h2>

    <div class="row">
        <div class="col-md-8">
            <div class="brand-fuersie test-tile">
                <h3 class="test-title">
                    <a href="/produkttests/purina-proplan-delicate/info">
                        PRO PLAN DELICATE: Das hochwertige Trockenfutter für Deine Katze
                    </a>
                </h3>

                <div class="test-link"><a class="btn btn-inverted" href="/produkttests/purina-proplan-delicate/info">Jetzt
                    mitmachen</a></div>
                <a class="test-teaser" href="/produkttests/purina-proplan-delicate/info"
                   style="background: url(/media/purina/produkttests_teaser_purina.png) no-repeat 50% 100%">PRO PLAN
                    DELICATE: Das hochwertige Trockenfutter für Deine Katze</a>
            </div>
        </div>
    </div>

    <h2>Abgeschlossene Projekte</h2>

{% endblock %}