{% extends 'base.jinja' %}


{% block top_navbar_brand %}{# empty #}{% endblock %}
{% block top_navbar_main_navigation %}{# empty #}{% endblock %}


{% block title %}Produkttest Übersicht{% endblock title %}


{% block content %}
  <div class="container product-test-overview">
    {% if active_product_test_list %}
      <div class="row">
        <div class="col-md-24">
          <h2>Unsere Produkttests auf einen Blick</h2>
          {% for test in active_product_test_list %}
            <div class="test-tile" style="display: inline-block; background: #{{ test.brand.color }}">
              <h3 class="test-title"
                  {% if test.brand %}style="background-image: url({{ test.brand.logo.url }}); background-repeat: no-repeat; background-position: 15px 15px;{% endif %}">
                <a href="{{ test.get_detail_link(request.user) }}">
                  {{ test.title }}
                </a>
              </h3>

              <div class="test-link">
                <a class="btn btn-inverted" href="{{ test.get_detail_link(request.user) }}">
                  Jetzt mitmachen
                </a>
              </div>

              <a class="test-teaser" href="{{ test.get_detail_link(request.user) }}"
                 {% if test.list_image %}style="background: url({{ thumbnail(test.list_image, size=(400, 400)) }}) no-repeat 50% 100%"{% endif %}>
                {{ test.title }}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if expired_product_test_list %}
      <div class="row">
        <div class="col-md-24">
          <h2>Abgeschlossene Produkttests</h2>
          {% for test in expired_product_test_list %}
            <div class="test-tile" style="display: inline-block; background: #{{ test.brand.color }}">
              <h3 class="test-title"
                  {% if test.brand %}style="background-image: url({{ test.brand.logo.url }}); background-repeat: no-repeat; background-position: 15px 15px;{% endif %}">
                <a href="{{ test.get_detail_link(request.user) }}">
                  {{ test.title }}
                </a>
              </h3>

              <div class="test-link">
                <a class="btn btn-inverted" href="{{ test.get_detail_link(request.user) }}">
                  Jetzt Ergebnisse lesen
                </a>
              </div>

              <a class="test-teaser" href="{{ test.get_detail_link(request.user) }}"
                 style="background: url({{ thumbnail(test.list_image, size=(400, 400)) }}) no-repeat 50% 100%">
                {{ test.title }}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if raffles %}
      <div class="row">
        <div class="col-md-24">
          <h2>Gewinnspiele</h2>
          {% for raffle in raffles %}
              <div class="raffle-tile" style="display: inline-block">
                <div class="raffle-logo">
                  <a href="{{ url('raffles:detail', url=raffle.url) }}">
                    {% if raffle.logo %}
                      <img
                        width="200"
                        height="75"
                        srcset="
                          {{ thumbnail(raffle.logo, size=(200, 75)) }} 1x,
                          {{ thumbnail(raffle.logo, size=(400, 150)) }} 2x
                        "
                      />
                    {% endif %}
                  </a>
                </div>
                <div class="raffle-button">
                  <a class="btn btn-red" href="{{ url('raffles:detail', url=raffle.url) }}">
                    {% if raffle.is_expired() %}
                      Gewinnspiel beendet
                    {% else %}
                      Gewinnspiel ansehen
                    {% endif %}
                  </a>
                </div>
                <div class="raffle-image">
                  <a href="{{ url('raffles:detail', url=raffle.url) }}">
                    {% if raffle.list_image %}>
                      <img
                        width="230px"
                        height="400px"
                        srcset="
                          {{ thumbnail(raffle.list_image, size=(230, 0)) }} 1x,
                          {{ thumbnail(raffle.list_image, size=(460, 0)) }} 2x
                        "
                      />
                    {% endif %}
                  </a>
                </div>
              </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <div class="row">
      <div class="col-md-24">
        {#        <div class="box">#}
        {# @todo: implement register form         #}
        {#          <p>#}
        {#            Hier findest Du die neusten Produkttests#}
        {#            <br>#}
        {#            <strong>Registriere Dich hier</strong>#}
        {#            oder <a href="/user/login">log Dich ein</a>, um Dich für die aktuellen Aktionen zu bewerben.#}
        {#          </p>#}
        {#          <form accept-charset="UTF-8" action="{{ url('user:register') }}" class="new_user" id="new_user" method="post">#}
        {#            <input class="btn-primary btn-block" name="commit" type="submit" value="Jetzt registrieren">#}
        {#          </form>#}
        {#        </div>#}
        <div class="box" align="left">
          <small class="subdued">
            <p>
              <strong>Sie möchten Ihr Produkt testen lassen?</strong>
              <br>
              <a href="/partner-info/">Kontaktieren Sie uns</a>
              und erfahren Sie mehr über Kooperationsmöglichkeiten.
            </p>
          </small>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
