{% extends 'django_simple_forum/base.jinja' %}

{% block forum_content %}
  <!-- Forums  -->
  <div id="list">
    <table border="0" cellpadding="4" width="100%">
      <tr>
        <td>Posts</td>
        <td>Last post</td>
        <td></td>
      </tr>
      {% for forum in forums %}
        <tr>
          <td>
            <div class="title"><a href="{{ url('forum-detail', forum.pk) }} ">{{ forum.title }}</a></div>
          </td>

          <td>
            {{ forum.last_post.short|linebreaksbr }}</td>
          <td>
            <a class="button" href="{{ url('forum-detail', forum.pk) }}">VIEW</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}