{% extends 'email/base.jinja' %}

{% block context %}

{% autoescape off %}
<p>
{% trans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endtrans %}
</p>
<p>
{{ _("Please go to the following page and choose a new password:") }}
</p>
{% block reset_link %}
{{ protocol }}://{{ domain }}{{ url('user:reset_confirm', uidb64=uid, token=token) }}
{% endblock %}

<p>
{{ _("Thanks for using our site!") }}
</p>

{% trans %}The {{ site_name }} team{% endtrans %}

{% endautoescape %}

{% endblock %}