{% extends 'base.jinja' %}

{% block user_panel %}{% endblock %}
{% block main_navigation %}{% endblock %}

{% block content %}

<div class="row">
  <div class="box login col-md-12 col-md-offset-6">
    <h2>Bitte hinterlege ein sicheres Passwort.</h2>

    <ul>
      <li>Es sollte aus Groß- und Kleinbuchstaben sowie Sonderzeichen und Ziffern (?!%+…) bestehen.</li>
      <li>Tabu sind Namen von Familienmitgliedern, des Haustieres, des besten Freundes, des Lieblingsstars oder deren
        Geburtsdaten und so weiter.
      </li>
      <li>Wenn möglich sollte es nicht in Wörterbüchern vorkommen.</li>
    </ul>

    <form accept-charset="UTF-8"
          action="{{ url('user:set_password') }}"
          method="post"
        >
      {% csrf_token %}

      {% autoescape off %}
      {{ form|bootstrap }}
      {% endautoescape %}

      <div class="col-sm-10">
        <input class="btn btn-primary btn-block" name="commit" type="submit" value="Speichern">
      </div>
    </form>
  </div>
</div>


{% endblock content %}