{% extends 'base.jinja' %}

{% block user_panel %}{% endblock %}
{% block main_navigation %}{% endblock %}

{% block content %}

  <h1>Mein Profil</h1>
  <div class="user-profile">
    <form accept-charset="UTF-8"
          action="{{ url('user:set_password') }}" class="form-horizontal" enctype="multipart/form-data"
          method="post"
      >
      {% csrf_token %}

      <div class="form-group"><label class="control-label col-sm-6"></label>
        {{ form.as_p() }}

        <div class="col-sm-10">
          <input class="btn btn-primary btn-block" name="commit" type="submit" value="Speichern">
        </div>

      </div>

    </form>

  </div>

{% endblock content %}