{% extends 'base.jinja' %}
{% load staticfiles %}

{% block body_class %}flatpage{% endblock %}
{% block title %}{{ flatpage.title }} | {{ block.super }}{% endblock title %}
{% block navbar_image %}{% endblock %}


{% block seo_head %}
  <meta name="description" content="DER FEINSCHMECKER-Apps für Ihr iPhone & iPad" />
  <meta name="og:description" content="DER FEINSCHMECKER-Apps für Ihr iPhone & iPad" />
  <meta name="keywords" content="App, Apps, FEINSCHMECKER APPS, Restaurantapp. Restaurant app, DER FEINSCHMECKER GOURMET-Shop" />
  <link rel="canonical" href="http://www.der-feinschmecker-shop.de/der-feinschmecker-apps-fuer-ihr-iphone-ipad/" />
  <meta property="og:url" content="http://www.der-feinschmecker-shop.de/der-feinschmecker-apps-fuer-ihr-iphone-ipad/" />
{% endblock %}


{% block content %}
<div class="page-maincontent">

  {% if flatpage.title %}
    <h1>
      <a class="btn" href="/" title="Zur&uuml;ck zu DER FEINSCHMECKER">
        <i class="feicon feicon-return"></i>
      </a>
      {{ flatpage.title }}
    </h1>
  {% endif %}

  <div class="row">

    <div class="col-md-24">
      <a href="https://itunes.apple.com/de/app/weinguter-deutschland-der/id738466058?mt=8" target="_blank">
        <img src="{% static 'app/images/appseite.jpg' %}" alt="{{ flatpage.title }}" class="img-responsive" />
      </a>

      <div class="panel panel-fe panel-description">
        <div class="panel-body larger-text">

          {% autoescape off %}
            {{ flatpage.content }}
          {% endautoescape %}
          <br/>
          <a href="https://itunes.apple.com/de/app/weinguter-deutschland-der/id738466058?mt=8" target="_blank">
            <img src="{% static 'app/images/logo.appstore.png' %}" alt="{{ flatpage.title }}" width="135" />
          </a>

        </div>
      </div>
    </div>

  </div>

</div>
{% endblock content %}