{% extends 'base.html' %}
{% load staticfiles %}

{% block body_class %}flatpage{% endblock %}
{% block title %}{{ flatpage.title }} | {{ block.super }}{% endblock title %}
{% block navbar_image %}{% endblock %}


{% block seo_head %}
  {% for seodata in flatpage.seo_data.all %}
    {% include 'senseo/meta_data.html' %}
  {% endfor %}
{% endblock %}


{% block content %}
<div class="page-maincontent">

  {% if flatpage.title %}
    <h1>
      <a class="btn" href="/" title="Zur&uuml;ck zu DER FEINSCHMECKER">
        <i class="feicon feicon-return"></i>
      </a>
      {{ flatpage.title }}
    </h1>
  {% endif %}

  <div class="row">

    <div class="col-md-24">
      <div class="panel panel-fe panel-description">
        <div class="panel-body larger-text">
          {% autoescape off %}
            {{ flatpage.content }}
          {% endautoescape %}
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock content %}