{% extends 'product_test/base.jinja' %}

{% block title %}{{ super() }} - Umfrage{% endblock title %}

{% block product_test_content %}
    <iframe class="col-md-24" style="border:0" height="800px" width="100%" src="{{ survey.url }}&id={{ uid }}"></iframe>
{% endblock %}
