{% if not user.is_authenticated() %}
  <div class="forum-not-logged-in">
    <p>
      <a href="{{ url('user:login_form') }}">Log Dich ein</a>, um einen Beitrag zu verfassen.
    </p>
  </div>
{% endif %}

{% with objects=posts %}
  {% include 'product_test/snippets/pagination.jinja' %}
{% endwith %}

<div class="forum-entries-holder">



</div>

{% with objects=posts %}
  {% include 'product_test/snippets/pagination.jinja' %}
{% endwith %}

{% if not user.is_authenticated() %}
<div class="forum-not-logged-in">
  <p>
    <a href="{{ url('user:login_form') }}">Log Dich ein</a>, um einen Beitrag zu verfassen.
  </p>
</div>
{% else %}
<form action="{{ url('product_test:forum:reply', slug=product_test.slug, topic_id=topic.pk) }}" method="POST">
  {% csrf_token %}
  {% autoescape off %}
  {{ post_form|bootstrap }}
  {% endautoescape %}
  <input class="btn btn-default" type="submit" value="Beitrag senden">
</form>
{% endif %}
